{% extends 'base.html' %}
{% block title %}Anonymised Member: {{ member.name }}{% endblock %}
{% block content %}
    {{ extra }}<br/>
    <table class="table table-striped" style="width: auto;">
        <tr>
            <th>Name</th>
            <td>{{ member.name }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{{ member.email }}</td>
        </tr>
        {% if member.user %}
            <tr>
                <th>User</th>
                <td>{{ member.user }}</td>
            </tr>
            <tr>
                <th>User control</th>
                <td>
                    <a href="{% url 'members.change_user' member.pk %}" class="btn-sm btn-primary">Edit</a>
                    <a href="{% url 'members.remove_user' member.pk %}" class="btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <th>Add user</th>
                <td>
                    <a href="{% url 'members.signup' member.pk %}" class="btn-sm btn-outline-primary">Add new</a>
                    {% if not member.invitation_code_valid %}
                        <a href="{% url 'members.generate_invite' member.pk %}"
                           class="btn-sm btn-outline-primary">Invite</a>
                    {% else %}
                        <a href="{% url 'members.disable_invite' member.pk %}"
                           class="btn-sm btn-outline-primary">Uninvite</a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Last Activity</th>
            <td>{{ member.privacy_reunion_end_date }}</td>
        </tr>
    </table>
    <a href="{% url 'members.edit' member.id %}" class="btn btn-outline-primary">Edit</a>
    {% if member.can_be_deleted %}
        <a href="{% url 'members.delete' member.id %}" class="btn btn-outline-primary">Delete</a>
    {% elif member.should_be_anonymised %}
        <a href="{% url 'members.anonymise' member.id %}" class="btn btn-outline-primary">Anonimyse</a>
    {% endif %}
    {% load books %}
    {% get_user_books member perms %}
    {% if member.has_reservations %}
        <h4>Reservations</h4>
        {% get_user_reserved_books member perms %}
    {% endif %}
{% endblock %}