{% extends 'base.html' %}
<!-- Brand and toggle get grouped for better mobile display -->
<!-- bs-example-navbar-collapse-1 -->
{% block title %}Member: {{  member.name}}{% endblock %}
{% block content %}
    <table class="table table-striped" style="width: auto;">
        <tr>
            <th>Name</th>
            <td>{{ member.name }}</td>
        </tr>
        <tr>
            <th>Nickname</th>
            <td>{{ member.nickname }}</td>
        </tr>
        <tr>
            <th>Adress</th>
            <td>{{ member.addressLineOne }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ member.addressLineTwo }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ member.addressLineThree }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{{ member.email }}</td>
        </tr>
        <tr>
            <th>Phone #</th>
            <td>{{ member.phone }}</td>
        </tr>
        <tr>
            <th>Student #</th>
            <td>{{ member.student_number }}</td>
        </tr>
        <tr>
            <th>Old membership type</th>
            <td>{{ member.membership_type_old }}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ member.notes }}</td>
        </tr>
        <tr>
            <th>Old customer type</th>
            <td>{{ member.old_customer_type }}</td>
        </tr>
        <tr>
            <th>Old id</th>
            <td>{{ member.old_id }}</td>
        </tr>
        <tr>
            <th>Anonymous user</th>
            <td>{{ member.is_anonymous_user }}</td>
        </tr>
        <tr>
            <th>End date</th>
            <td>{{ member.end_date }}</td>
        </tr>
        {% if member.user %}
            <tr>
                <th>User</th>
                <td>{{ member.user }}</td>
            </tr>
            <tr>
                <th>User control</th>
                <td>
                    <a href="{% url 'members.change_user' member.pk %}" class="btn-sm btn-primary">Edit</a>
                    <a href="{% url 'members.remove_user' member.pk %}" class="btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <th>Add user</th>
                <td><a href="{% url "members.signup" member.pk %}" class="btn-sm btn-outline-primary">Add new</a>
                {% if not member.invitation_code_valid %}
                <a href="{% url "members.generate_invite" member.pk %}" class="btn-sm btn-outline-primary">Invite</a>
                    {% else %}
                <a href="{% url "members.disable_invite" member.pk %}" class="btn-sm btn-outline-primary">Uninvite</a>
                    {% endif %}
            <td>
            </tr>
        {% endif %}
    </table>

    <a href="{% url 'members.edit' member.id %}" class="btn btn-outline-primary">Edit</a>
{% load books %}
    {% get_user_books member perms %}
{% endblock %}