{% extends 'base.html' %}
<!-- Brand and toggle get grouped for better mobile display -->
<!-- bs-example-navbar-collapse-1 -->

{% block title %}Members that can be anonymised{% endblock %}
{% block content %}


        {% for member in corrects %}
            {% if forloop.first %}
                Anonimisation succesful for the following members:
                <table class="table table-striped" style="width: auto;">
            {% endif %}
    <tr><td>{{ member.name }}</td></tr>
            {% if forloop.last %}
                </table>
            {% endif %}
        {% endfor %}
   {% for member in errors %}
            {% if forloop.first %}
                Anonimisation failed for the following members:
                <table class="table table-striped" style="width: auto;">
            {% endif %}
    <tr><td>{{ member.name }}</td></tr>
            {% if forloop.last %}
                </table>
            {% endif %}
        {% endfor %}
    {#    {% include 'member_search_field.html' %}#}
    {% include 'pagination.html' %}
    <form method="post" action="{% url 'members.anonymise_all' %}">
    {% csrf_token %}
        <table class="table table-striped" style="width: auto;">
            {% for member in object_list %}
                <tr>
                <td><input type="checkbox" id="member{{ member.pk }}" name="member" value="{{ member.pk }}"/> <label for="member{{ member.pk }}">Anonymise</label></td>
                    <td><a href="{% url 'members.view' member.id %}">{{ member.name }}</a>{% if member.nickname %}<br/>
                        <i>{{ member.nickname }}</i>{% endif %}</td>
                </tr>
            {% empty %}
                <i> No results</i>
            {% endfor %}

        </table>
    <button type="submit">Anonymise!</button>
    </form>
    <hr>

{% endblock %}
