{% extends 'base.html' %}
<!-- Brand and toggle get grouped for better mobile display -->
<!-- bs-example-navbar-collapse-1 -->

{% block title %}Members that can be anonymised{% endblock %}
{% block content %}
{#    {% include 'member_search_field.html' %}#}
        {% include 'pagination.html' %}

    <table class="table table-striped" style="width: auto;">
        {% for member in object_list %}
            {% include 'member_list_item.html' %}
        {% empty %}
            <i> No results</i>
        {% endfor %}

    </table>
    <hr>
    <a href="{% url 'members.new' %}" class="btn btn-outline-primary">New member</a>
{% endblock %}
