{% component 'tile.Tile' root_class_tags="flex-1" %}
    {% fill 'title' %}Book Search{% endfill %}
    {% fill 'content' %}
        <form class="gap-2" action="/works/search" method="get">
            <div class="join">
                <input class="join-item input input-bordered" id="q" type="text" name="q" value="{{ request.GET.q }}" placeholder="Dune">
                <a class="join-item btn " href="/works/search?advanced=True">Advanced Search</a>
                <input type="submit" class="join-item btn btn-primary" value="Search">
            </div>
        </form>
    {% endfill %}
{% endcomponent %}