{% load static %}

{% component "tile.Tile" root_class_tags="w-full lg:w-60" with_standard_flex=False %}
    {% fill "title" %}
        {{ ctx.title }}
    {% endfill %}
    {% fill "content" %}
        <div class="h-full grid place-items-center">
        <div class="max-w-3/4 flex flex-col items-center">
            {% if open %}
                <img  class="w-full max-w-25" src="{% static 'images/light/green.png' %}"><br/>
                <h6 class="card-subtitle mt-4 mb-4 text-muted align-right">We are open!<br/></h6>
            {% else %}
                <img class="w-full  max-w-25" src="{% static 'images/light/red.png' %}"><br/>
                <h6 class="card-subtitle mt-4 mb-4 text-muted">We are closed :(.<br/></h6>
            {% endif %}
        </div>
        </div>
    {% endfill %}
{% endcomponent %}
