<div class="bg-base-100 shadow-xl flex relative">

    <div class="bg-accent text-accent-content place-items-center basis-[5rem]  " role="link" tabindex="0"
         onclick="location.href='{% url 'work.view' work.pk %}'">
        {% if book_code %}
            <dl class="items-center flex flex-col items-center justify-center h-full">
                    {% if series %}<dd>SERIES</dd>{% endif %}

                {% for cd in split_code %}
                    <dd><b><a href="{% url "work.view" work.pk %}">{{ cd }}</a></b>{% if forloop.last %}
                        {% if book_code_extension %}({{ book_code_extension }}){% endif %}{% endif %}</dd>
                {% endfor %}

            </dl>
        {% else %}
            <div class="flex text-center  items-center h-full"></div>
        {% endif %}
    </div>
    <div class="flex-1 m-2 ">
        <dl>
            <dd>
                {% if show_recode and item.get_recode %}
                    {{ item.get_recode }}
                {% endif %}
            </dd>
            <dd class="text-lg">
                <a class="link link-secondary" href="{% url "work.view" work.pk %}">
                    {% if work.title %}{{ work.title }}{% else %}&lt;No Title&gt;{% endif %}
                </a>
            </dd>
            {% if  work.sub_title %}
                <dd class="text-xs pb-1">{{ work.sub_title }}</dd> {% endif %}
            {% for author in creators %}
                <dd>
                    {{ author.role.name }} <a class="link link-secondary"
                                              href="{% url "creator.view" author.creator.pk %}"><em>{{ author.creator.name }}</em>, {{ author.creator.given_names }}
                </a></dd>
            {% endfor %}
        </dl>
        <hr class="w-full h-1 mx-auto my-2 bg-gray-200 border-0 rounded">
        {% slot "infos" default %}{% endslot %}
    </div>
</div>