<tr class="">
    {% if not skip_header %}
        <td class="bg-accent text-xs text-center w-[12em]">
            {% if item.book_code %}<a href="{% url "work.view" item.publication.pk %}"><b>{{ item.book_code }}</b>
                {% if item.book_code_extension %}({{ item.book_code_extension }}){% endif %}</a>
                {% if show_recode and item.get_recode %}
                    {{ item.get_recode }}
                {% endif %}
            {% else %}
                Not In Collection
            {% endif %}
        </td>
    {% endif %}
    <td>
        <dl>
            <dd class="">
                <a class="link link-secondary" href="{% url "work.view" item.publication.pk %}">
                    {% if item.publication.get_title %}{{ item.publication.get_title }}{% else %}&lt;No Title&gt;
                    {% endif %}
                </a>
            </dd>
            {% if  item.publication.sub_title %}
                <dd class="text-xs pb-1">{{ item.publication.sub_title }}</dd> {% endif %}
            {% if skip_header %}
                <dd class="text-xs pb-2 ml-2">{{ item.book_code }}</dd>
            {% endif %}
        </dl>
    </td>
    <td>
        <dl>
            {% for author in authors %}
                <dd>
                    {{ author.role.name }} <a class="link link-secondary"
                                              href="{% url "creator.view" author.creator.pk %}"><em>{{ author.creator.name }}</em>, {{ author.creator.given_names }}
                </a>
                </dd>
            {% endfor %}
        </dl>
    </td>
    {% slot "extra_rows" %}
    {% endslot %}
</tr>