<tr class="">
    {% if not skip_header %}
        <td class="{% if series %}bg-secondary {% else %}bg-accent{% endif %} text-xs text-center w-[12em]">
            {% if series %}[s]{% endif %}
            {% if book_code %}<a href="{% url "works.view" work.pk %}"><b>{{ book_code }}</b>
                {% if book_code_extension %}({{ book_code_extension }}){% endif %}</a>
                {% if item %}
                    {% if show_recode and item.get_recode %}
                        {{ item.get_recode }}
                    {% endif %}
                {% endif %}
            {% endif %}
        </td>
    {% endif %}
    <td>
        <dl>
            <dd class="">
                <a class="link link-secondary" href="{% url "works.view" work.pk %}">
                    {% if work.get_title %}{{ work.get_title }}{% else %}&lt;No Title&gt;
                    {% endif %}
                </a>
            </dd>
            {% if  work.sub_title %}
                <dd class="text-xs pb-1">{{ work.sub_title }}</dd> {% endif %}
            {% if skip_header %}
                <dd class="text-xs pb-2 ml-2">{{ item.book_code }}</dd>
            {% endif %}
        </dl>
    </td>
    <td>
        <dl>
            {% for creator_work in creators %}
                <dd>
                    {{ creator_work.role.name }}
                    <a class="link link-secondary"
                       href="{% url "creator.view" creator_work.creator.pk %}">
                        <em>{{ creator_work.creator.name }}</em>
                        , {{ creator_work.creator.given_names }}
                    </a>
                </dd>
            {% endfor %}
        </dl>
    </td>
    {% slot "extra_rows" %}
    {% endslot %}
</tr>