{% extends 'base.html' %}
{% block title %}Add user for member: {{ member.name }}{% endblock %}
{% block content %}
    <div class="flex justify-center">
        {% component "tile.Tile" root_class_tags="max-w-lg" with_standard_flex=False %}
            {% fill 'title' %}
                {% if by_invite %}
                	Please choose a username and a password to finish creating your account.
                {% else %}
                    This only adds a user to the member, it does not give them any special access or make them an opener.
                {% endif %}
            {% endfill %}
            {% fill "content" %}
                The password should be at least 10 characters.
                <form method="post">
                    {% csrf_token %}
                    {% component "form.Compact" form / %}
                    <input type="submit" value="Sign Up" class="btn btn-success btn-wide btn-2xl">
                </form>
            {% endfill %}
        {% endcomponent %}
    </div>
{% endblock %}