{% if btn_action == 'close' %}
    <script>
        $('#dialog').on("close", function (evt) {
            location.reload();
        });
    </script>
{% endif %}
<form hx-post="{{ form_path }}" class="modal-content" method="post">
    {% csrf_token %}
    <h5 class="modal-title text-2xl">{{ form_title }}</h5>
    <div class="modal-body">
        {% slot 'formbody' default %}
        {% endslot %}
    </div>

    <div class="modal-footer join w-full justify-end">
        {% if btn_action == "submit" %}
            <input class="btn {{ form_button_type }} join-item" type="submit" value="{{ form_button_name }}">
        {% endif %}
        {% if btn_action == "close" %}
            <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn {{ form_button_type }} join-item">{{ form_button_name }}</button>
                </form>
            </div>
        {% endif %}
    </div>
</form>