markdown~=3.7
django==5.1.7
namegenerator~=1.0.6
names~=0.3.0
django-tables2
flake8
django-mail-templated~=2.6.5
unidecode
django-environ~=0.11.2
importlib-metadata==7.0.2
psycopg[binary]~=3.1.18

jsonpickle~=3.3.0