{% load books_table %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Signature</th>
            {% if member is not Null %}
                <th>Return Date</th>
            {% endif %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for elem in contents %}
            {% show_row elem data perms member %}
        {% empty %}
            <tr><td colspan=3  style="align-content: center;" ><i>No results</i></td></tr>
        {% endfor %}
    </tbody>
</table>
