{% extends "base.html" %}
{% load item_detail_table %}
{% block title %}{{ object.get_title }}{% endblock %}
{% block content %}
    <div class="container-fluid" style="width:100%">
        <div class="row justify-content-md-center">
            {% with series=object.workinseries_set.all %}
                {% with tbl=object.get_sub_works %}

                    {% include 'works/partials/main_info.html' %}

                    {% include 'works/partials/subworks.html' %}
                    {% include 'works/partials/items.html' %}
                {% endwith %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
