{% if commits %}
    <form method="get" action="#" class="join">
        <select id="location" name="location" class="select join-item">
            {% for loc in locations %}
                <option value="{{ loc.pk }}" {% if loc_id == loc.pk %}selected="selected"{% endif %}>{{ loc.category.name }}
                    -{{ loc.name }} {{ loc.pk }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn join-item" value="Search">
    </form>
{% else %}
    <select id="location" name="location" class="select join-item">
        {% for loc in locations %}
            <option value="{{ loc.pk }}" {% if loc_id == loc.pk %}selected="selected"{% endif %}>{{ loc.category.name }}
                -{{ loc.name }} {{ loc.pk }}</option>
        {% endfor %}
    </select>
{% endif %}