{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}{{ publication.title }}{% endblock %}
{% block content %}
    <form action="#" method="post">
        {% csrf_token %}
        <div class="flex flex-col 3xl:flex-row gap-3">


            {% component 'tile.Tile' root_class_tags="flex-0" %}
                {% fill 'title' %}Publication Info{% endfill %}
                {% fill 'content' %}
                    <dl class="divide-y divide-gray-100">

                        {% for field in form.visible_fields %}
                            <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                <dt class=" font-medium ">{{ field.label }}</dt>
                                <dd class="mt-1  sm:col-span-2 sm:mt-0">{{ field|add_class:"input input-xs border-1 border-bellered" }}</dd>
                            </div>
                        {% endfor %}
                    </dl>
                    <input class="btn btn-primary" type="submit" value="Save">

                {% endfill %}
            {% endcomponent %}

            <div class="grow  flex flex-col gap-3 ">
                {% component "tile.Tile" root_class_tags="flex-0" %}
                    {% fill 'title' %}Creators{% endfill %}
                    {% fill 'content' %}
                        {{ creators.management_form }}
                        {% for creator in creators %}
                            {% component "form.Smol" creator / %}
                            <hr>
                        {% endfor %}

                    {% endfill %}
                {% endcomponent %}
                {% component "tile.Tile" root_class_tags="flex-0" %}
                    {% fill 'title' %}Series{% endfill %}
                    {% fill 'content' %}
                        {{ series.management_form }}
                        {% for serie in series %}
                            {% component "form.Smol" serie / %}
                            <hr>
                        {% endfor %}
                    {% endfill %}
                {% endcomponent %}
            </div>
        </div>
    </form>
{% endblock %}