{% extends "base.html" %}

{% block title %}{{ work.get_title }}{% endblock %}
{% block content %}
    {% with wis=work.workinseries_set.all %}
        {% with tbl=work.get_sub_works %}
            <div class="flex flex-col gap-3">
                <div class="flex flex-col lg:flex-row gap-3">
                    {% include 'works/partials/main_info.html' %}
                    {% if not series %}
                        {% include 'works/partials/subworks.html' %}
                    {% endif %}
                </div>
                {% if perms.works.change_workrelation %}
                    {% component 'works.relations.Relations' work / %}
                {% endif %}
                {% if not series %}
                    {% with work.get_items as items %}
                        {% if perms.works.change_lending or items %}
                            {% include 'works/partials/items.html' %}
                        {% endif %}
                    {% endwith %}
                {% endif %}
                {% if series %}
                    {% component 'tile.Tile' root_class_tags="lg:basis-64" %}
                        {% fill 'title' %}Series Structure{% endfill %}
                        {% fill 'content' %}
                            <div class="series_tree">
                                <ul>
                                    {% include 'series/tree/series.html' %}
                                </ul>
                            </div>
                        {% endfill %}
                    {% endcomponent %}
                {% endif %}
            </div>
        {% endwith %}
    {% endwith %}
    {% if perms.works.change_workrelation %}
        {% component 'help_bar' %}
            <h2>Editing Works</h2>

            <h3>Relations</h3>
            A relation describes that one work links to another work. Relations are edited separately in the 'relations' panel.
            <h2>Deleting Works</h2>
            A work may be related if it has no items, and no more relations. The system will automatically ask for deletion if the last relation is removed from a work.
        {% endcomponent %}
    {% endif %}
{% endblock %}
