{% extends "base.html" %}
{% load publication_list_to_item_rows %}
{#{% load books_table %}#}

{% block title %}
    {% if advanced %}Advanced {% else %} Book {% endif %}Search
{% endblock %}
{% block content %}
    <div class="flex flex-col gap-3">
        {% if advanced %}
            {% include 'works/work_search_field_advanced.html' %}
        {% else %}
            {% include 'works/work_search_field_simple.html' %}
        {% endif %}

        {% include 'works/work_list_items.html' %}
    </div>

    {% component 'help_bar' %}
        The search function tries to match the search query to words in the title of books, series, as well as the names
        of
        authors. It also matches on parts of books.<br/>
        It will display all books that match to <b>all</b> words in the query. <br/>
        There are two special cases to keep in mind:<br>
        <b>Book codes:</b> The system will search for book codes, but only if it's fed only one word. So do not put
        spaces in the
        query if you want to find something. <br/>
        It will try to complete though, so, for instance, SF-T-37 will find all Tolkien books, and possibly some more.
        <br/>
        The system supports the asterisk at the beginning and end of words to state that the word may be longer on this
        side.<br>
        For instance, if you don't know how to spell "Hitchhiker's Guide to the Galaxy",
        a simple "Hitch*" will suffice.<br/>
        Note that other regex commands are not supported. <br>
        {% if advanced %}
            In advanced search: press ctrl-> click to remove items from the multi-selects{% endif %}
    {% endcomponent %}
{% endblock %}