{% extends "base.html" %}
{% load publication_list_to_items %}
{#{% load books_table %}#}
{% block title %}Book Search{% endblock %}
{% block content %}
    <div style="display:flex; ">
        <div style="grid-row: span 2;">
            {% if advanced %}
                {% include 'works/work_search_field_advanced.html' %}
                <a href="{% url 'works.list' %}">Simple Search</a>
            {% else %}
                {% include 'works/work_search_field_simple.html' %}
                <a href="?advanced=True">Advanced Search</a>
            {% endif %}
        </div>
        <button id="btn-info"  onclick="document.getElementById('modal-content').visible=false">?</button>
    </div>
    
    <div id="modal-content" style="display: none; margin: 1rem;">
        {% include "works/work_search_help_modal.html" %}
    </div>


    <style>

        #btn-info {
            border: none;
            height: 50%;
        }

        #btn-info:hover {
            font-weight: bold;
        }
    </style>
    {% comment %} TODO: maybe find a way to change this to pure Django? {% endcomment %}
    <script>
        document.querySelector('#btn-info').addEventListener('click', function() {
            const modal = document.getElementById('modal-content');
            modal.style.display = modal.style.display === 'none' ? 'block' : 'none';

        });
    </script>

    


    
    {% include 'pagination.html' %}
    <hr>
    {% autoescape off %}
        {% if object_list %}
            <h3>Search results</h3>
            {% works_table object_list perms %}
        {% endif %}
            <h3>Recently added titles</h3>
            {% works_table recent_works perms %}
    {% endautoescape %}
  
{% endblock %}