{% extends "base.html" %}

{% block title %}{{ work.get_title }}{% endblock %}
{% block content %}
    {% with wis=work.workinseries_set.all %}
        {% with tbl=work.get_sub_works %}
            <div class="flex flex-col gap-3">
                <div class="flex flex-col lg:flex-row gap-3">
                    {% include 'works/partials/main_info.html' %}
                    {% if not series %}
                        {% include 'works/partials/subworks.html' %}
                    {% endif %}
                </div>
                {% if perms.works.change_workrelation %}
                    {% component 'works.relations.Relations' object / %}
                {% endif %}
                {% if not series %}
                    {% include 'works/partials/items.html' %}
                {% endif %}
                {% if series %}
                    {% component 'tile.Tile' root_class_tags="lg:basis-64" %}
                        {% fill 'title' %}Series Structure{% endfill %}
                        {% fill 'content' %}
                            <div class="series_tree">
                                <ul>
                                    {% include 'series/tree/series.html' %}
                                </ul>
                            </div>
                        {% endfill %}
                    {% endcomponent %}
                {% endif %}
            </div>
        {% endwith %}
    {% endwith %}
{% endblock %}
