{% component 'tile/tile' root_class_tags="w-full lg:basis-2/5  lg:flex-none" %}
    {% fill 'title' %}Book Search{% endfill %}
    {% fill 'content' %}
        <form class="gap-2" action="/works/search" method="get">
            <div>
                <label for="Query">Query: </label>
                <input class="input" id="q" type="text" name="q" value="{{ request.GET.q }}">
            </div>
            <div class="join">
                <a class="join-item btn " href="?advanced=True">Advanced Search</a>
                <input type="submit" class="join-item btn btn-primary" value="Search">
            </div>
        </form>
    {% endfill %}
{% endcomponent %}