<form action="/works/search" method="get" class="items-center gap-2 space-y-4 ">

    <label class="input input-bordered flex items-center gap-2">
        >
        <input type="text" class="grow" id="q" name="q" value="{{ request.GET.q }}" placeholder="Search"/>
        <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="currentColor"
                class="h-4 w-4 opacity-70 ">
            <path
                    fill-rule="evenodd"
                    d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                    clip-rule="evenodd"/>
        </svg>
    </label>
    <div class="join btn-group w-full">
         <input type="submit" value="Search" class="join-item btn btn-accent gap-2 w-1/2 ">
        <a href="?advanced=true" class="join-item btn btn-outline gap-2 w-1/2">Advanced</a>
    </div>
</form>
