{% extends 'base.html' %}
{% load publications_list_for_member %}
{% block title %}Select work for lending{% endblock %}

{% block content %}
    Lending for member: {{ member.name }}
    <form action="/lend/member/{{ member.pk }}" method="get">
        <label for="Query">Query: </label>
        <input id="q" type="text" name="q">
        <input type="submit" value="Search" class="btn-primary btn" >
    </form>
    <table>
        {% works_table_for_member items perms member %}
    </table>


{% endblock %}

