{% extends 'base.html' %}
{% block title %}
    Select a Member for Lending
{% endblock %}
{% block content %}
    <div class="flex flex-col gap-3">
        <div class="flex flex-col lg:flex-row gap-3">
            <div class="lg:flex-1 lg:mt-3 lg:mb-3">
                {% component "works.table.Card" item / %}
            </div>
            {% component 'members.search_input' request.GET.q request.GET.previous myUrl="#" / %}
        </div>
        {% component "tile.Tile" root_class_tags="grow max-w-screen lg:basis-2/5  lg:flex-none " %}
            {% fill "title" %}
                <div class="hidden sm:block sm:pb-5">Results</div>
                <div class="sm:absolute top-5 flex w-full justify-center">
                    {% include 'pagination.html' %}
                </div>
            {% endfill %}
            {% fill "content" %}
                <table class="table table-zebra table-responsive-xs w-full table-auto border-collapse border border-slate-400">
                    <tr>
                        <th>Member Name</th>
                        <th></th>
                    </tr>
                    {% for member in members %}
                        <tr class="hover">
                            <td>{% if member.is_blacklisted %}
                                <b style="font-size: large;color:red;">THIS MEMBER IS BLACKLISTED</b>
                                <br>{% endif %}{% if member.is_anonimysed %}[anon] {% endif %}<a
                                    class="link link-secondary"
                                    href="{% url 'members.view' member.id 0 %}">{{ member.name }}</a>
                                {% if member.nickname %}<br/>
                                    <i>{{ member.nickname }}</i>{% endif %}</td>
                            <td class="text-right">
                                {% component "lendings.buttons.Finalize" item member perms bonus_classes="btn-sm join-item" / %}
                            </td>
                        </tr>
                    {% empty %}
                        <i> No results</i>
                    {% endfor %}
                </table>
            {% endfill %}
        {% endcomponent %}
    </div>
{% endblock %}

