{% extends 'hx_modal.html' %}

{% block modal_content %}
    {# reload page when modal is hidden so we show the correct info behind it #}
    <script>
        $('#dialog').on("close", function (evt) {
            location.reload();
        });
    </script>

    <div class="modal-header">
        <h5 class="modal-title">Item extended successfully</h5>
    </div>
    <div class="modal-body">
        <a href="{% url 'members.view' member.id 0 %}">{{ member.name }}</a> may keep {{ item.publication.title }}
        until: {{ date }}
    </div>
    <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Ok</button>
    </form>

{% endblock %}