{% extends 'hx_modal.html' %}

{% block modal_content %}
    <form hx-post="{{ request.path }}" class="modal-content" method="post">
        {% csrf_token %}
        <div class="modal-header">
            <h5 class="modal-title">Finalize lending</h5>
        </div>
        <div class="modal-body">

            Lending work: {{ item.get_title }} <br/>
            Lending to member: {{ member.name }} <br/>
            End date {{ date }} <br/>

            {% if fee != "" %}
                Lending fee: €{{ fee }}
            {% endif %}
        </div>
        <div class="modal-footer">
            <input type="submit" value="Lend" class="btn btn-success">
        </div>
    </form>
{% endblock %}

