{% extends 'base_bootstrap.html' %}
{% block title %}{% endblock %}
{% block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Returning Book</h4>
                    <table class="card-text" cellspacing="0" cellpadding="2">
                        <tr><td>Title:</td><td>{{ item.get_title }}</td></tr>
                        <tr><td>Name:</td><td>{{ lending.member }}</td></tr>
                        <tr><td>Return Date:</td><td>{{ today }}</td></tr>
                    </table>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item card-text">
                        <table cellspacing="0" cellpadding="2">
                            {% if late %}
                                <tr><td>Due date:</td><td>{{ lending.end_date }} ({{ days_late }} days late)</td><tr>
                                <tr><td>Fine:</td><td> &euro;{{ fine }}</td></tr>
                            {% else %}
                                 <tr><td>Due date:</td><td>{{ lending.end_date }}(on time :))</td></tr>
                            {% endif %}
                        </table>
                    </li>
                    {% if reserved %}
                        <li class="list-group-item card-text">
                            <h6>Reservation Pending</h6>
                            <table cellspacing="0" cellpadding="2">
                                <tr><td>Member:</td><td>{{ reservation.member.name }}</td></tr>
                                <tr><td>Today:</td><td>{{ today }}</td></tr>
                            </table><br />
                            Please put a sticky note on the book with the member name & date of today, and place the book apart. The member will be notified automatically.
                        </li>
                    {% endif %}
                    {% if not item.in_available_state %}
                        <li class="list-group-item">Book is {{ item.get_state }}, please treat it accordingly.</li>
                    {% endif %}
                </ul>
                <div class="card-body">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Return it" class="btn btn-success" >
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}