{% extends 'base.html' %}
{% block title %}Return book: {{ item.get_title }}{% endblock %}
{% block content%}
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Returning work: {{ item.get_title }}</li>
        <li class="list-group-item">Return date {{ lending.end_date }}</li>
        {% if reserved %}
            <li class="list-group-item">Book is reserved by {{ reservation.member.name }}; please put a note on the book with the name and the date of today and place the book apart.</li>
        {% endif %}
        {% if not item.in_available_state %}
            <li class="list-group-item">Book is {{ item.get_state }}, please treat it accordingly.</li>
        {% endif %}
        {% if late %}
            <li class="list-group-item">Book is {{ days_late }} days late! <br /> {{ lending.member.name }} needs to pay a &euro;{{ fine }} fine.</li>
        {% endif %}
    </ul>
</div>

<form action="#" method="post">
    {% csrf_token %}
    <input type="submit" value="Return it" class="btn btn-success" >
</form>
{% endblock %}