{% extends 'base.html' %}
{% block title %}Editing page {{ form.title.value }}{% endblock %}
{% block content %}
    <form method="POST" action="#">
        {% csrf_token %}
        <div class="min-h-full flex flex-col gap-3 min-h-[80vh] max-w-full ">
            {% component "tile/tile" root_class_tags="w-full " %}
                {% fill 'title' %}
                    Title info
                {% endfill %}
                {% fill 'content' %}
                    {% component 'form/compact' form / %}
                {% endfill %}
            {% endcomponent %}
            {% component "tile/tile" root_class_tags="w-full" %}
                {% fill 'title' %}
                    Rights info
                {% endfill %}
                {% fill 'content' %}
                    {% component 'form/compact' rights_form / %}
                {% endfill %}
            {% endcomponent %}

            {{ edit_form.text }}
            <button class="btn btn-success">Save</button>
        </div>
    </form>
{% endblock %}