{% extends 'base.html' %}
{% block title %}Page Management{% endblock %}
{% block content %}
    Here you can see which pages exist on the website. This has a list of all pages on the site. Warning, the delete buttons are agressive.
    {% for group in groups %}
        <div tabindex="0" class="collapse collapse-arrow border-base-300 bg-base-100 border">
            <div class="collapse-title font-semibold">
                <table class="m-3 table"><tr>
                    <th>{{ group.name }}</th>
                    <th class="text-right"><a class="btn btn-primary" href="{% url 'new_named_page' group.name %}">Add page</a></th>
                </tr></table>
            </div>
            <div class="collapse-content text-sm">
                <table class="m-3 md:ml-8 table">
                    <tr>
                        <th>Title</th>
                        <th class="hidden md:table-cell">Path</th>
                        <th></th>
                    </tr>
                    {% for page in group.publicpage_set.all %}
                        <tr>
                            <td><a href="{% url 'named_page' page.group.name page.name %}">{{ page.title }}</a></td>
                            <td class="hidden md:table-cell"><a class="link" href="{% url 'named_page' page.group.name page.name %}">{% url 'named_page' page.group.name page.name %}</a></td>
                            <td><div class="join">
                                <a class="btn btn-primary" href="{% url 'edit_named_page' page.group.name page.name %}">Edit</a>
                                <a class="btn btn-danger" href="{% url 'delete_named_page' page.pk %}">Delete</a>
                            </div></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
    </table>
{% endblock %}