{% extends hx_enabled|yesno:"hx_modal.html,base.html" %}

{% block title %}New Upload
{% endblock %}

{% block content %}

    {% component 'modalform.ModalForm' title="Set Item State" path=request.path form_action="submit" %}
        {% fill "modal_body" %}
            {{ special }}

            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
        {% endfill %}
    {% endcomponent %}
    <form action="#" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p><input type="submit" value="Upload"/></p>
    </form>
    <hr>
{% endblock %}