<div class="join">
    {% if member %}
        {% if cannot_reserve_reason %}
            <div class="tooltip" data-tip="{{ cannot_reserve_reason }}">
                <a class="btn btn-disabled btn-xs btn-primary join-item">Reserve</a>
            </div>
        {% else %}
            <a class="btn btn-xs btn-primary  join-item">Reserve</a>
        {% endif %}
    {% endif %}
    {% if is_visible %}
        {% if for_other_reason %}
            <div class="tooltip" data-tip="{{ for_other_reason }}">
                <a class="btn btn-xs btn-secondary join-item btn-disabled">For Others</a>
            </div>
        {% else %}
            <a class="btn btn-xs btn-secondary join-item">For Others</a>
        {% endif %}
    {% endif %}
</div>