{% load static %}
    <div class="col-lg-3 lr-auto">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Are we Open?</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    {% if open %}
                        The Drakenkelder is open!<br/>
                        {% if full %}
                            <img style="width:100px;" src="{% static 'images/light/yellow.png' %}"><br/>
                            The room is full :(
                        {% else %}
                            <img style="width:100px;" src="{% static 'images/light/green.png' %}"><br/>
                        {% endif %}
                    {% else %}
                        <img style="width:100px;" src="{% static 'images/light/red.png' %}"><br/>
                        The Drakenkelder is closed!
                    {% endif %}


                </h6>

            </div>
        </div>
    </div>
