{{ form.non_field_errors }}
{% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
{% endfor %}


{% for field in form.visible_fields %}
    <div class="form-control">
        <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm/6 font-medium">{{ field.label }}</dt>
            <dd class="mt-.5 text-sm/6  sm:col-span-2 sm:mt-0">{{ field }}</dd>
        </div>
    {% if field.errors %}
        {% for err in field.errors %}
            <span class=" label label-text-alt text-error">{{ err }}</span>
        {% endfor %}
    {% endif %}
    </div>
{% endfor %}
