{% extends 'base.html' %}
{% load get_list %}
{% block title %}Lending Stats{% endblock %}
{% block content %}
    <div class="flex flex-col gap-3">
        {% component 'tile.Tile' root_class_tags="" %}

            {% fill 'title' %}Lending statistics{% endfill %}
            {% fill 'content' %}
                Please use standard iso date formats (ie. 2020-01-01).<br>
                <form action="#" method="get" class="join">
                    <input id="date" class="input join-item" type="date" name="start_date"
                           value="{{ request.GET.start_date }}">
                    <button class="disabled btn ">>></button>
                    <input id="date" class="input join-item" type="date" name="end_date"
                           value="{{ request.GET.end_date }}">
                    <input type="submit" name="exec" value="Search" class="btn-primary btn join-item">
                </form>
            {% endfill %}
        {% endcomponent %}
        {% component 'tile.Tile' root_class_tags="" %}
            {% fill 'title' %}Result{% endfill %}
            {% fill 'content' %}
                {% for k, v in q.items %}
                    <dl class="w-full divide-y divide-gray-100">
                        {% component "datarow.Datarow" k %}
                            {{ v }}
                        {% endcomponent %}
                    </dl>
                {% endfor %}
            {% endfill %}
        {% endcomponent %}
    </div>
{% endblock %}

