{% extends 'base.html' %}
{% block title %}Filter Members{% endblock %}
{% block content %}
    <div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link {% if dateBased %}active{% endif %}" href="{% url 'datamining.members.date_based' %}">By Date</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if groupBased %}active{% endif %}" href="{% url 'datamining.members.groups' %}">By Committee</a>
      </li>
    <li class="nav-item">
        <a class="nav-link {% if specials %}active{% endif %}" href="{% url 'datamining.members.special' %}">Special Queries</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    {% block form %}

    {% endblock %}
  </div>
</div>

    {% if exec %}
      <div class="card">
  <div class="card-header">
    Found {{ members|length }} members.
  </div>

    {% if mails %}
        <div class="card-body user-select-all">
            <p class="user-select-all">{{ member_mail_addresses }}</p>
        </div>
    {% else %}
            <table class="table table-striped" style="width: auto;">
                {% for member in members %}
                    {% include 'members/list_item.html' %}
                {% empty %}
                    <i> No results</i>
                {% endfor %}
            </table>

    {% endif %}
      </div>
{% endif %}

{% endblock %}

