{% extends 'datamining/member_filtering_base.html' %}
{% load get_list %}

{% block form %}
        <form action="#" method="get">

    Please use standard iso date formats (i.e. 2020-12-31):
        <table class="table table-striped" style="max-width: 400px">
            <tr>
                <td><label for="m_on">Was member on: </label></td>
                <td><input id="m_on" type="date" class="input" name="m_on" placeholder="{{ today }}" value="{{ request.GET.m_on }}"></td>
            </tr>
            <tr>
                <td><label for="m_include_honorary">Include honorary members: </label></td>
                <td><input id="m_include_honorary" type="checkbox" name="m_include_honorary"
                           {% if request.GET.m_include_honorary %}checked{% endif %}></td>
            </tr>

            <tr>
                <th colspan="2" style="text-align: center">As mailing list?</th>
            </tr>
            <tr>
                <td><label for="mails">Get mail address list: </label></td>
                <td><input id="mails" type="checkbox" name="mails"
                           {% if mails %}checked{% endif %}></td>
            </tr>
        </table>
        <input type="submit" name="exec" value="Search" class="btn-primary btn">
    </form>

{% endblock %}

