{% extends 'base.html' %}
{% load get_list %}
{% block title %}Filter Members{% endblock %}
{% block content %}
    Please use standard iso date formats (i.e. 2020-12-31):
    <form action="#" method="get">
        <table class="table table-striped" style="max-width: 400px">
            <tr>
                <td><label for="m_on">Was member on: </label></td>
                <td><input id="m_on" class="datepicker" type="text" name="m_on" placeholder="{{ today }}" value="{{ request.GET.m_on }}"></td>
            </tr>
           <tr>
                <td><label for="m_filter_only_blacklisted">Show only the blacklist: </label></td>
                <td><input id="m_filter_only_blacklisted" type="checkbox" name="m_filter_only_blacklisted"
                           {% if request.GET.m_filter_only_blacklisted %}checked{% endif %}></td>
            </tr>
            <tr>
                <td><label for="m_include_honorary">Include honorary members: </label></td>
                <td><input id="m_include_honorary" type="checkbox" name="m_include_honorary"
                           {% if request.GET.m_include_honorary %}checked{% endif %}></td>
            </tr>
            <tr>
                <th colspan="2" style="text-align: center">Other settings</th>
            </tr>
            <tr>
                <td><label for="dms">Not DMS registered: </label></td>
                <td><input id="dms" type="checkbox" name="dms"
                           {% if dms %}checked{% endif %}></td>
            </tr>
            <tr>
                <td><label for="committees">Committees</label></td>
                <td>{% with list=request.GET|get_list:'committees' %}
                    <select name="committees" id="committees" multiple="multiple">
                        {% for committee in committees %}

                            <option {% if committee.pk|to_string in list %}selected{% endif %}
                                    value="{{ committee.pk }}">{{ committee.name }}</option>

                        {% endfor %}
                    </select>
                {% endwith %}
                </td>
            </tr>
            <tr>
                <td><label for="privacy">Privacy Settings</label></td>
                <td>{% with list=request.GET|get_list:'privacy' %}
                    <select name="privacy" id="privacy" multiple="multiple">
                        <option {% if 'activities' in list %}selected{% endif %} value="activities">activities</option>
                        <option  {% if 'publications' in list %}selected{% endif %} value="publications">publications</option>
                        <option  {% if 'reunions' in list %}selected{% endif %}  value="reunions">reunions</option>
                    </select>
                {% endwith %}
                </td>
            </tr>
            <tr>
                <th colspan="2" style="text-align: center">As mailing list?</th>
            </tr>
            <tr>
                <td><label for="mails">Get mail address list: </label></td>
                <td><input id="mails" type="checkbox" name="mails"
                           {% if mails %}checked{% endif %}></td>
            </tr>
        </table>
        <input type="submit" name="exec" value="Search" class="btn-primary btn">
    </form>
    {% if mails %}
        {{ member_mail_addresses }}
    {% else %}
        <table class="table table-striped" style="width: auto;">
            {% for member in members %}
                {% include 'members/list_item.html' %}
            {% empty %}
                <i> No results</i>
            {% endfor %}

        </table>
    {% endif %}
{% endblock %}

