<div class=" hidden md:table bg-base-100 "> <table class="my-3 table-zebra table-pin-rows table-auto table-pin-cols ">
    <tr>
        {% if not skip_header %}
            <th ></th>
        {% endif %}
        <th>Title</th>
        <th>Author</th>
        {% if show_member %}
            <th>Member</th>
        {% endif %}
        <th></th>
    </tr>
    {% for item in items %}
        {% component 'works.table.row' item skip_header=skip_header all_authors=all_authors  %}
            {% fill "extra_rows" %}
            {% endfill %}
        {% endcomponent %}
    {% endfor %}
</table>
</div>
<div class="md:hidden flex flex-col gap-5 m-3">
    {% for item in items %}
        {% component 'works.table.publication_list.card.Card' item perms all_authors=all_authors / %}
    {% endfor %}
</div>