{% extends 'base.html' %}
<!-- Brand and toggle get grouped for better mobile display -->
<!-- bs-example-navbar-collapse-1 -->
{% load creator_books %}
{% block title %}{{ creator.given_names}} {{ creator.name }}{% endblock %}
{% block content %}

{{creator.name}}
{%if perms.creators.change_creator %}
    <a class="btn btn-primary" href="{% url 'creator.edit' creator.pk %}">Edit</a><a class="btn btn-danger" href="{% url 'creator.delete' creator.pk %}">Delete</a>{%endif%}
    {% get_creator_books creator perms %}
{% endblock %}
