{% extends 'base.html' %}
{% block content %}Lending failed!<hr>
    {% if member %}
        {% if item %}
            Member {{ member.name }} cannot lend {{ item.publication.name }} right now.
        {% else %}
            Member {{ member.name }} cannot lend right now.
        {% endif %}
    {% else %}
    {% if item %}
        Item {{item.publication.name }} cannot be lent out<hr>
    {% else %}
        Something went wrong while lending.
    {% endif %}
    {% endif %}
    {{ reason }}
{% endblock %}