{% extends 'base.html' %}
{% block title %}Extending{% endblock %}
{% block content%}
    {% if not is_changed %}
    Lending cannot be extended; date would not change.
        <br/>
<a href="{% url 'members.view' member.id %}" class="btn btn-primary btn-sm">Return to member page</a>
    {% else %}
Extending work: {{ item.publication.title }} <br />
Extending for member: {{  member.name }} <br />
End date {{ date }} <br />
{% if late %}
    Book is {{ days_late }} days late! <br />
    {{ member.name }} needs to pay a &euro;{{ fine }} fine.
{% endif %}
<form action="#" method="post">
    {% csrf_token %}
    <input type="submit" value="Extend">
</form>
    {% endif %}
{% endblock %}

