{% extends 'base.html' %}
<!-- Brand and toggle get grouped for better mobile display -->
<!-- bs-example-navbar-collapse-1 -->

{% block title %}All current lendings{% endblock %}
{% block content %}
<table>
    {% for lending in lendings %}
    <tr><td><a href="{% url 'work.view' lending.item.publication.id %}">{{ lending.item.publication.title }}</a></td><td><a href="{% url 'members.view' lending.member.id %}">{{ lending.member.name }}</a></td><td>{{ lending.end_date }}</td></tr>
        {% empty %}
        BLIEP
    {% endfor %}
</table>
{% endblock %}