{% extends 'base.html' %}
{% block content %}Reservation failed!<hr>
    {% if member %}
        {% if item %}
            Member {{ member.name }} cannot reserve {{ item.publication.name }} right now.
        {% else %}
            Member {{ member.name }} cannot reserve right now.
        {% endif %}
    {% else %}
    {% if item %}
        Item {{item.publication.name }} cannot be reserved out<hr>
    {% else %}
        Something went wrong while reserving.
    {% endif %}
    {% endif %}
    {{ reason }}
{% endblock %}