<div class="xl:h-grow">
    <div class=" drawer xl:drawer-open absolute xl:static xl:h-full xl:w-full {% if hide_sidebar_xl %}xl:hidden{% endif %}  z-[6] ">
        {#    drawer xl:drawer-open absolute  xl:relative xl:flex xl:flex-initial#}
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>

        <div class="drawer-side  h-full">
            <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-base-100 text-base-content min-h-full w-full pt-[6rem] xl:pt-0 md:w-80 ">
                <!-- Sidebar content here -->
                <div class="my-2"></div>
                {% for item in top_bar %}
                    {% if item.is_separator %}
                        <li class="xl:hidden"></li>
                    {% else %}
                        {% if item.is_super %}
                            <li>
                                <details>
                                    <summary>{{ item.label }}</summary>
                                    <ul>
                                        {% for item in item.items %}
                                            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </details>
                            </li>
                        {% else %}
                            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if not hide_sidebar_xl %}
                    <li class="xl:hidden"></li>
                {% endif %}

                {% for item in sidebar_items %}
                    {% if item.is_separator %}
                        <li></li>
                    {% else %}
                        {% if item.is_super %}
                            <li>
                                <details>
                                    <summary>{{ item.label }}</summary>
                                    <ul>
                                        {% for item in item.items %}
                                            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </details>
                            </li>
                        {% else %}
                            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <li class="xl:hidden"></li>

                {% if user.is_anonymous %}
                    {% component 'navbar.Item' "Login" 'login' location="sidebar" extra_classes="xl:hidden" / %}
                {% else %}
                    {% component 'navbar.Item' "Profile" "members.view" user.member.pk 0 location="sidebar" extra_classes="xl:hidden" / %}
                    <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken"
                           value="{{ csrf_token }}">
                    <li class="xl:hidden"><a hx-post="{% url 'logout' %}" hx-target="#dialog"
                                             hx-afterRequest="window.location.href='/';" href="{% url 'logout' %}"
                                             hx-include="[name='csrfmiddlewaretoken']">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

