<script>function loadDoc() {
    var y = document.getElementById('{{ location_id }}').value
    {% if title_id %}
        var title = document.getElementById('{{ title_id }}').value
    {% endif %}
    var x = {% if publication_id %}{{ publication_id }}{% else %}-1{% endif %}
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("data_store").innerHTML = this.responseText;
        }
    };
    {% if for_series %}
        xhttp.open("GET", "/book_code/generate/series/" + x + "/" + y+ "?title=" + title, true);
    {% else %}
        xhttp.open("GET", "/book_code/generate/" + x + "/" + y , true);
    {% endif %}
    xhttp.send();
}
</script>
<button type="button" onclick="loadDoc()">Request data</button>
<div id="data_store"></div>