{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}{% if series.pk %}Edit {% include 'series/part_of_series_name.html' %}{% else %}New Series
{% endif %}{% endblock %}
{% block content %}
    <form action="#" method="post">
        {% csrf_token %}
        <div class="flex flex-col gap-3">
            {% component 'tile.Tile' root_class_tags="flex-0" %}
                {% fill 'title' %}Work Info{% endfill %}
                {% fill 'content' %}
                    <dl class="divide-y divide-gray-100">
                        {% component "form.Smol" work_form / %}
                    </dl>
                {% endfill %}
            {% endcomponent %}
            {% component 'tile.Tile' root_class_tags="flex-0" %}
                {% fill 'title' %}Series Info{% endfill %}
                {% fill 'content' %}
                    <dl class="divide-y divide-gray-100">
                        {% component "form.Smol" form / %}
                        Book code should be generated in a separate step.
                    </dl>

                {% endfill %}
            {% endcomponent %}
            {% component "tile.Tile" root_class_tags="flex-0 " %}
                {% fill 'title' %}Creators{% endfill %}
                {% fill 'content' %}
                    {{ creators.management_form }}
                    {% for creator in creators %}
                        <div class="mt-5 ">
                            {% component "form.Smol" creator / %}
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Save">
                {% endfill %}
            {% endcomponent %}
        </div>
    </form>
{% endblock %}
