{% extends "base.html" %}
{% load static %}

{% block title %}{% include 'series/part_of_series_name.html' %}{% endblock %}
{% block content %}
    <table class="table table-striped">

        {% with publication=series %}
            <tr>
                <th>Name</th>
                <td>
                    <a href="/series/views/{{ publication.pk }}">
                        {% if publication.title %}{{ publication.get_title }} {% if publication.sub_title %}<br/>
                            <i>-{{ publication.sub_title }}</i>{% endif %}{% else %} <i>No Title</i> {% endif %}
                    </a>
                </td>
            </tr>
            {% if series.original_title %}
                <tr>
                    <th> Original Name</th>
                    <td>

                        {% if publication.get_original_title %} {{ publication.get_original_title }}
                            {% if publication.original_sub_title %}<br/>
                                <i>-{{ publication.original_sub_title }}</i>{% endif %}{% else %}
                            <i>No Title</i> {% endif %}

                    </td>
                </tr>
            {% endif %}
            {% if series.original_language %}
                <tr>
                    <th> Original Language</th>
                    <td>
                        {{ series.original_language }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Authors</th>
                <td>
                    {% for author in publication.get_own_authors %}{% include 'creators/single_line_description.html' %}
                        {% if not forloop.last %}<br/>{% endif %}{% endfor %}
                </td>
            </tr>
        {% endwith %}
        </tr>

     {% if series.number %}
 <tr>
    <th>Position in super-series</th>
    <td>
             {% if series.display_number %}{{ series.display_number }}{% endif %}
        {% if series.number %}({{ series.number }}){% else %}<i>No Number</i>{% endif %}
    </td>
</tr>


        {% endif %}
    </table>
    {% if perms.series.change_series %}<a class="btn btn-primary" href="{% url 'series.edit' series.pk %}">Edit</a>
    {% endif %}
    {% if perms.series.delete_series %}<a class="btn btn-danger" href="{% url 'series.delete' series.pk %}">Delete</a>
    {% endif %}
<br><br>
<h4>Books in series</h4>

<div>
  <ul class="treez">
            {% include 'series/tree/series.html' %}
  </ul>
</div>


    {% if  series.location_code %}
    <h4>Numbering</h4>
        This series has it's own book code for one or more locations.<br><br>
        <table class="table-striped">
        <tr><th>Location</th><th>Used Name</th><th>Letter</th><th>Number</th></tr>
            <tr>
                <td>{{ series.location }}</td>
                <td>{{ series.location_code.name }}</td>
                <td>{{ series.location_code.letter }}</td>
                <td>{{ series.location_code.number }}</td>

            </tr>
        </table>
    {% endif %}
{% endblock %}
