{% extends "base.html" %}
{% load static %}

{% block title %}{% include 'series/part_of_series_name.html' %}{% endblock %}
{% block content %}
    <table class="table table-striped">
        {% with publication=series %}
            <tr>
                <th>Name</th>
                <td>
                    <a href="/series/views/{{ publication.pk }}">
                        {% if publication.title %}{{ publication.get_title }} {% if publication.sub_title %}<br/>
                            <i>-{{ publication.sub_title }}</i>{% endif %}{% else %} <i>No Title</i> {% endif %}
                    </a>
                </td>
            </tr>
            {% if series.original_title %}
                <tr>
                    <th> Original Name</th>
                    <td>

                        {% if publication.get_original_title %} {{ publication.get_original_title }}
                            {% if publication.original_sub_title %}<br/>
                                <i>-{{ publication.original_sub_title }}</i>{% endif %}{% else %}
                            <i>No Title</i> {% endif %}

                    </td>
                </tr>
            {% endif %}
            {% if series.original_language %}
                <tr>
                    <th> Original Language</th>
                    <td>
                        {{ series.original_language }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Authors</th>
                <td>
                    {% for author in publication.get_own_authors %}{% include 'creators/single_line_description.html' %}
                        {% if not forloop.last %}<br/>{% endif %}{% endfor %}
                </td>
            </tr>

        {% endwith %}


        {% if series.number %}
            <tr>
                <th>Part of series</th>
                <td>
                    {% with also_show_number=True %}
                        {% include 'series/part_of_series_name.html' %}<br>
                    {% endwith %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Location</th>
            <td>{{ series.location }}</td>
        </tr>
        {% if series.location_code and perms.series.change_series%}
            <tr>
                <th>Location Code</th>
                <td>{{ series.location_code.letter }}-{{ series.location_code.number }}
                    {% if perms.series.change_series %}
                        <a class="btn btn-danger btn-sm" hx-get="{% url 'series.cutter.del_code' series.pk %}"
                           hx-target="#dialog" href="{% url 'series.cutter.del_code' series.pk %}">Delete</a>
                    {% endif %}
                    <br>
                    <small>{{ series.location_code.name }}</small>
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Book Code</th>
            <td>{{ series.book_code }}
                {% if perms.series.change_series %}
                    <a class="btn btn-primary btn-sm" hx-get="{% url 'series.gen_code' series.pk %}"
                       hx-target="#dialog" href="{% url 'series.gen_code' series.pk %}">{% if series.book_code %}Edit{% else %}New{% endif %}</a>
                {% endif %}
            </td>
        </tr>

    </table>
    {% if perms.series.change_series %}<a class="btn btn-primary" href="{% url 'series.edit' series.pk %}">Edit</a>
    {% endif %}
    {% if perms.series.delete_series %}<a class="btn btn-danger" href="{% url 'series.delete' series.pk %}">Delete</a>
    {% endif %}
    <br><br>
    <h4>Books in series</h4>
    <div>
        <ul class="treez">
            {% include 'series/tree/series.html' %}
        </ul>
    </div>
{% endblock %}
