{% extends hx_enabled|yesno:"hx_modal.html,base.html" %}

{% block content %}
    {% component 'modalform.ModalForm' title='Finalize Lending of Book' path=request.path %}
        {% fill "modal_body" %}
            Lending work: {{ item.get_title }} <br/>
            Lending to member: {{ member.name }} <br/>
            End date {{ date }} <br/>

            {% if fee != "" %}
                Lending fee: €{{ fee }}
            {% endif %}
        {% endfill %}

        {% fill "modal_submit_button" %}
            <button class="btn btn-success join-item">Lend</button>
        {% endfill %}
    {% endcomponent %}
{% endblock %}

