{% for  series in series.things_underneath %}
    {% if series.is_series %}
        {% with series=series.is_series %}
            {% if series %}
                {% if series.display_number %}[{{ series.display_number }}]{% endif %}
                <a href="{% url 'series.view' series.pk %}">{{ series.title }}</a><br/>
            {% endif %}
        {% endwith %}
        {% include 'series_parts.html' %}
    {% else %}
        {% with work=series.is_work %}
            {% if work %}
                [{{ work.display_number }}]<a href="{% url 'work.view' work.work.pk %}">{{ work.work.title }} </a> <br/>
            {% endif %}
        {% endwith %}
    {% endif %}
{% endfor %}
