<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<select class="js-example-basic-single form-control" style="width:100%" id="{{ name }}" name="{{ name }}">
    {% if default %}
        <option value="{{ default.pk }}" selected="selected">{{ default.get_canonical_title }}</option>
    {% endif %}
</select>
<script>
    $('#{{name}}').select2({
        ajax: {
            url: function (params) {
                return '{{ BASE_URL }}series/search/' + params.term;
            },
            minimumInputLength: 3,
        }
    });
</script>