{% for  series in series.things_underneath %}
    {% if series.is_series %}
        {% with series=series.is_series %}
            {% if series %}
                <tr>
                    <td colspan="2">
                        {% if series.display_number %}[{{ series.display_number }}]{% endif %} <a
                            href="{% url 'series.view' series.pk %}">{{ series.title }} {{ series.sub_title }}</a><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        \-
                    </td>
                    <td>
                        <table>

                            {% include 'series_parts.html' %}
                        </table>
                    </td>
                </tr>
            {% endif %}
        {% endwith %}
    {% else %}
        {% with work=series.is_work %}
            {% if work %}
                <tr>
                    <td>
                        [{{ work.display_number }}]
                    </td>
                    <td><a href="{% url 'work.view' work.work.pk %}">{{ work.work.title }} {{ work.work.sub_title }} </a> <br/>
                    </td>
                </tr>
            {% endif %}
        {% endwith %}
    {% endif %}
{% endfor %}
