<footer class="footer flex-none flex flex-col lg:flex-row w-full bg-neutral gap-3 lg:gap-10 text-neutral-content p-10 ">
    <nav class="flex-1">
        <h6 class="footer-title">Our Organisation</h6>
        <a href="{% url "named_page" standard_page_group "about" %}" class="link link-hover">About</a>
        <a class="link link-hover">Contact</a>
    </nav>
    <nav class="flex-1">
        <h6 class="footer-title">Follow Us</h6>
        <a class="link link-hover">Instagram</a>
        <a class="link link-hover">Hyves</a>
    </nav>
    <nav class="flex-1">
        <h6 class="footer-title">Legal</h6>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
    </nav>

       <nav class="flex-1">
        <h6 class="footer-title">Volunteering</h6>
        <a class="link link-hover">Documentation</a>
        <a class="link link-hover">Open Source</a>
    </nav>
</footer>