<footer class="footer flex-none w-full bg-neutral text-neutral-content p-10 ">
    <nav>
        <h6 class="footer-title">Our Organisation</h6>
        <a class="link link-hover">About</a>
        <a class="link link-hover">Contact</a>
        <a class="link link-hover">Volunteering</a>
        <a class="link link-hover">Open Source</a>
    </nav>
    <nav>
        <h6 class="footer-title">Follow Us</h6>
        <a class="link link-hover">Instagram</a>
        <a class="link link-hover">Hyves</a>
    </nav>
    <nav>
        <h6 class="footer-title">Legal</h6>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
    </nav>
    {#  Theme selector example #}
{#    <fieldset class="fieldset">#}
{##}
{#        <label class="flex gap-2 cursor-pointer items-center">#}
{#            <input type="radio" name="theme-radios" class="radio radio-sm theme-controller" value="bellekia"/>#}
{#            Bellettrie Ikea#}
{#        </label>#}
{#        <label class="flex gap-2 cursor-pointer items-center">#}
{#            <input type="radio" name="theme-radios" class="radio radio-sm theme-controller" value="fantasy"/>#}
{#            Bellettrie Purple#}
{#        </label>#}
{##}
{#    </fieldset>#}
</footer>