{% extends 'base_bootstrap.html' %}
{% block title %}New Book Code{% endblock %}
{% block content %}
    <form method="post" action="#">
        {% csrf_token %}
        <script>
            function set() {
                document.getElementById("book_code").value = "{{ recommended_code }}"
            }
        </script>
        {% if series.book_code %}
            <div class="form-group">
                <label for="book_code">Book Code</label>
                <input type="text" class="form-control" name="book_code" id="book_code" aria-describedby="bookcodehelp"
                       value="{{ series.book_code }}">
            </div>
            <div class="Recommended code">
                <label for="book_code">Set to Recommended Code</label>
                <input type="button" class="form-control" aria-describedby="bookcodehelp"
                       value="{% if recommended_code %} << {{ recommended_code }} >> {% endif %}" onclick="set();"
                        {% if not recommended_code %} disabled {% endif %}>
            </div>
        {% else %}
            <div class="form-group">
                <label for="book_code">Book Code</label>
                <input type="text" class="form-control" name="book_code" id="book_code" aria-describedby="bookcodehelp"
                       value="{{ recommended_code }}">
                <small id="bookcodehelp" class="form-text text-muted">Please verify and complete the code</small>
            </div>
        {% endif %}
        {% if not series.location_code %}
            <a class="card-link" hx-get="{% url 'series.cutter.gen_code' series.pk %}" hx-target="#dialog"
               hx-swap="innerHTML" href="{% url 'series.cutter.gen_code' series.pk %}">Custom Cutter Number</a>
        {% endif %}
        <input class="btn btn-success" type="submit" value="Save">

    </form>
{% endblock %}