{% extends 'base.html' %}
{% block title %}
    Set Location Code
{% endblock %}
{% block content %}
    <form method="post" action="#">
        {% csrf_token %}
        Are you sure you want to remove this location code?

        {% if error %}
            <div class="alert-warning">
                {{ error }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="input_string">Input</label>
            <input type="text" class="form-control" name="prefix" id="prefix" aria-describedby="bookcodehelp"
                   value="{{ series.title }} - {{ series.pk }}" required>
            <small id="bookcodehelp" class="form-text text-muted">Overwrite this text to define what text is used to
                create
                the custom code </small>

        </div>
        <div class="form-group">
            <label for="input_string">Generate</label>
            <input type="button" class="form-control" hx-post="{% url 'series.cutter.gen_code_hx_gen' series.pk %}"
                   hx-target="#cutter" hx-include="[prefix='prefix']" value="generate">
        </div>
        <div class="form-group" id="cutter">
            {% include 'series/series_cutter_number/number_result_template.html' %}
        </div>

        <input class="btn btn-success" type="submit" value="Save">
    </form>
{% endblock %}