{% extends 'base.html' %}
{% load get_list %}
{% block title %}Lending Stats{% endblock %}
{% block content %}
    Please use standard iso date formats (ie. 2020-01-01):
    <form action="#" method="get">
        <label for="date">Measuring date </label>

        <input id="date" type="text" name="start_date" value="{{ request.GET.start_date }}">
        <input id="date" type="text" name="end_date" value="{{ request.GET.end_date }}">


        <input type="submit" name="exec" value="Search" class="btn-primary btn">
    </form>

    <table class="table table-striped" style="width: auto;">

        {% for k, v in q.items %}
            <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}

