{% extends 'base.html' %}
{% load get_list %}
{% block title %}Get Email Addresses{% endblock %}
{% block content %}
    Please use standard iso date formats (ie. 2020-01-01):
    <form action="#" method="get">
        <label for="m_after">Membership Ended After: </label>

        <input id="m_after" type="text" name="m_after" value="{{ request.GET.m_after }}">

        <label for="m_before">Membership Ended Before: </label>
        <input id="m_before" type="text" name="m_before" value="{{ request.GET.m_before }}">

        <label for="m_include_honorary">Include honorary members: </label>
        <input id="m_include_honorary" type="checkbox" name="m_include_honorary"
               checked="{{ request.GET.m_include_honorary }}">
    <label for="mails">Get mail address list: </label>
        <input id="mails" type="checkbox" name="mails"
           checked="{{ mails }}">
        {% with list=request.GET|get_list:'committees' %}
            <select name="committees" id="committees" multiple="true">
                {% for committee in committees %}

                    <option {% if committee.pk|to_string in list %}selected{% endif %}
                            value="{{ committee.pk }}">{{ committee.name }}</option>

                {% endfor %}
            </select>
        {% endwith %}
        <input type="submit" name="exec" value="Search" class="btn-primary btn">
    </form>
    {% if mails %}
        {{ member_mail_addresses }}
    {% else %}
        <table class="table table-striped" style="width: auto;">
            {% for member in members %}
                {% include 'member_list_item.html' %}
            {% empty %}
                <i> No results</i>
            {% endfor %}

        </table>
    {% endif %}


{% endblock %}

