<dl class="w-full divide-y divide-gray-100 text-xs">
    {% component "datarow.Datarow" "Book Code" %}
        {{ item.book_code }}
    {% endcomponent %}
    {% if item.get_recode %}
        {% with recode=item.get_recode %}
            {% component "datarow.Datarow" "Book Code" %}
                {% include "works/partials/columns/finish_recode.html" %}
            {% endcomponent %}
        {% endwith %}
    {% endif %}
    {% component "datarow.Datarow" "ISBN" %}
        {% if item.isbn10 %}{{ item.isbn10 }}{% endif %}
        {% if item.isbn10 and item.isbn13 %}<br>{% endif %}
        {% if item.isbn13 %}{{ item.isbn13 }}{% endif %}
    {% endcomponent %}
    {% component "datarow.Datarow" "Pages" %}
        {{ item.pages }}
    {% endcomponent %}
    {% component "datarow.Datarow" "Year of Publication" %}
        {{ item.publication_year }}
    {% endcomponent %}
    {% with item.current_lending as cur_lnd %}
        {% component "datarow.Datarow" "State" %}
            {% if perms.works.view_itemstate %}
                <a class="link link-secondary" hx-get="{% url 'works.item.states' item.pk %}" hx-target="#dialog"
                   href="{% url "works.item.states" item.pk %}">{{ item.get_state }}</a>
            {% else %}
                {{ item.get_state }}
            {% endif %}
            {% if cur_lnd %}
                ( Lent out )
            {% endif %}
            {% if perms.works.change_itemstate %}
                <a hx-get="{% url 'works.item_state.create' item.pk %}" hx-target="#dialog"
                   href="{% url "works.item_state.create" item.pk %}" class="btn btn-primary btn-xs join-item">Change
                    state</a>

            {% endif %}
        {% endcomponent %}
        {% if request.user.member %}
            {% component "datarow.Datarow" "Borrowing" %}
            <div class="join">
                {% component "lendings.buttons.Lend" item perms bonus_classes="btn-xs join-item" / %}
                    {% if cur_lnd %}
                        {% component "lendings.buttons.Return" cur_lnd member perms bonus_classes="btn-xs join-item" / %}
                    {% endif %}
                    {% if perms.lendings.add_lending %}
                        <a href="{% url "lendings.history" item.pk %}" class="btn btn-xs join-item">History</a>
                    {% endif %}
                    </div>
                {% endcomponent %}
        {% endif %}
        {% if request.user.member %}
            {% component "datarow.Datarow" "Reserving" %}
            {% component "lendings.buttons.Reserve" item request.user.member cur_lnd perms / %}
            {% endcomponent %}
        {% endif %}
        {% if perms.works.change_item %}
            {% component "datarow.Datarow" "Edit" %}
                <a href="{% url "works.item.edit" item.pk %}" class="btn btn-xs btn-primary join-item">Edit</a>
            {% endcomponent %}
        {% endif %}
    {% endwith %}
</dl>