<dl class="w-full divide-y divide-gray-100 text-xs">
    {% component "datarow/datarow" "Book Code" %}
        {{ item.book_code }}
    {% endcomponent %}
    {% if item.get_recode %}
        {% with recode=item.get_recode %}
            {% component "datarow/datarow" "Book Code" %}
                {% include "works/partials/columns/finish_recode.html" %}
            {% endcomponent %}
        {% endwith %}
    {% endif %}
    {% component "datarow/datarow" "ISBN" %}
        {% if item.isbn10 %}{{ item.isbn10 }}{% endif %}
        {% if item.isbn10 and item.isbn13 %}<br>{% endif %}
        {% if item.isbn13 %}{{ item.isbn13 }}{% endif %}
    {% endcomponent %}
    {% component "datarow/datarow" "Pages" %}
        {{ item.pages }}
    {% endcomponent %}
    {% component "datarow/datarow" "Year of Publication" %}
        {{ item.publication_year }}
    {% endcomponent %}
    {% with item.current_lending as cur_lnd %}
        {% component "datarow/datarow" "State" %}
            {{ item.get_state }}
            {% if cur_lnd %}
                ( Lent out )
            {% endif %}
            <div class="join">
                <button class="btn btn-primary btn-xs join-item">Change state</button>
                <button class="btn btn-xs join-item">History</button>

            </div>
        {% endcomponent %}
        {% if request.user.member %}
            {% component "datarow/datarow" "Borrowing" %}
            <div class="join">
                {% component 'lendings/buttons/lend' item perms bonus_classes="btn-xs join-item" / %}
                    {% if cur_lnd %}
                        {% component 'lendings/buttons/return' cur_lnd member perms bonus_classes="btn-xs join-item" / %}
                    {% endif %}
                    <button class="btn btn-xs join-item">History</button>

                    </div>
                {% endcomponent %}
        {% endif %}

        {% if request.user.member %}
            {% component "datarow/datarow" "Reserving" %}
            {% component 'lendings/buttons/reserve' item request.user.member cur_lnd perms / %}
            {% endcomponent %}
        {% endif %}
        {% if perms.works.change_item %}
            {% component "datarow/datarow" "Edit" %}
                Edit
            {% endcomponent %}
        {% endif %}
    {% endwith %}

</dl>