{% component "works.table.Card" reservation.item %}
    {% fill "infos" %}
        <h3 class="text-lg text-md">Reservation </h3>
        <dl>
            <dd>
                Member: {{ reservation.member }}
            </dd>
            {% if reservation.reservation_end_date %}
                <dd>
                    {{ reservation.reservation_end_date }}
                </dd>
            {% else %}
                <dd>
                    Not available yet
                </dd>
            {% endif %}
        </dl>
        <div class=" flex  justify-end  join">
            {% component 'reservations/buttons/cancel' reservation user.member perms bonus_classes="btn-sm join-item" / %}
            {% component 'reservations/buttons/lend' reservation user.member perms bonus_classes="btn-sm join-item" / %}
        </div>
    {% endfill %}
{% endcomponent %}