{% load books_buttons %}
{% if option == "lend" %}
    {% lend_button item perms %}
{% endif %}

{% if option == "reserve" %}
    {% reserve_button item perms user %}
{% endif %}

{% if option == "finalize" %}
    {% finalize_button item perms member %}
{% endif %}

{% if option == "extend" %}
    {% extend_button item perms member %}
{% endif %}

{% if option == "return" %}
    {% return_button item perms member %}
{% endif %}


{% if option == "lendFromRes" %}
    {% finalize_reservation_button item perms member%}
{% endif %}

{% if option == "cancelRes" %}
    {% res_cancel_button item perms member%}
{% endif %}