{% if perms.lendings.extend or item.current_lending.member == member %}
    {% if item.current_lending.is_extendable or perms.lendings.getfine %}
        {% if item.current_lending.is_at_extend_limit %}
        <a href="{% url "lendings.extend" item.pk %}" class="btn btn-primary btn-sm" role="button">Extend</a>
            {% else %}
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Already extended maximum number of times">
               <a class="btn btn-primary btn-sm disabled" role="button" >Extend</a>
            </span>
            {% endif %}
    {% endif %}
{% endif %}