{% if perms.lendings.add_reservation %}
    {% if not item.is_available_for_reservation %}
        {% if item.is_reserved %}
            <a class="btn btn-primary btn-sm disabled">Already reserved</a>
        {% else %}
            <a class="btn btn-primary btn-sm disabled">Not Reservable</a>
        {% endif %}
    {% else %}
        {% if member %}
            <a href="{% url 'lendings.reserve.finalize' item.pk member.id %}" class="btn btn-sm btn-primary">Finalize</a>
        {% else %}
            <a href="{% url 'lendings.reserve.item' item.pk %}" class="btn btn-primary btn-sm" role="button">Reserve</a>
        {% endif %}
    {% endif %}
{% else %}
    {% if user.member != Null %}
        {% if not item.is_available_for_reservation %}
            {% if item.is_reserved %}
                <a class="btn btn-primary btn-sm disabled">Already reserved</a>
            {% else %}
                <a class="btn btn-primary btn-sm disabled">Not Reservable</a>
            {% endif %}

        {% else %}
            <a href="{% url 'lendings.reserve.finalize' item.pk user.member.id %}" class="btn btn-sm btn-primary"
               role="button">Finish reservation</a>
        {% endif %}
    {% endif %}
{% endif %}