{% extends 'base.html' %}
{% load member_reservation_table %}
{% load member_lending_table %}
{% block title %}{% if member.is_blacklisted %}<p style="color:red;">BLACKLISTED</p>{% endif %}Member:
    {{ member.name }}{% endblock %}
{% block content %}
    <style>
        .table {
            font-size: 12px;
        }
    </style>
    <div class="container-fluid" style="width:100%">
        <div class="row justify-content-md-center">
            {% if extra %}
                <div class="card col-sm-12">
                    <div class="card-body">
                        <>{{ extra }}
                    </div>
                </div>
            {% endif %}
            {% include 'members/partials/member_full_card.html' %}
            {% include 'members/partials/lendings_card.html' %}
        </div>
    </div>
{% endblock %}
