{% extends 'base.html' %}
{% load member_reservation_table %}
{% load member_lending_table %}
{% block title %}{% if member.is_blacklisted %}<p style="color:red;">BLACKLISTED</p>{%endif %}Member: {{ member.name }}{% endblock %}
{% block content %}
    {{ extra }}<br/>
    <table class="table table-striped" style="width: auto;">
        <tr>
            <th>Name</th>
            <td>{{ member.name }}</td>
        </tr>
        <tr>
            <th>Nickname</th>
            <td>{{ member.nickname }}</td>
        </tr>
        <tr>
            <th>Adress</th>
            <td>{{ member.address_line_one }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ member.address_line_two }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ member.address_line_three }}</td>
        </tr>
        <tr>
            <th>Primary e-mail</th>
            <td>{{ member.primary_email }} {% if member.primary_email_in_use %} &#10004; {% endif %}</td>
        </tr>
        <tr>
            <th>Secondary e-mail</th>
            <td>{{ member.secondary_email }}{% if member.secondary_email_in_use %} &#10004; {% endif %}</td>
        </tr>
        <tr>
            <th>Phone #</th>
            <td>{{ member.phone }}</td>
        </tr>
        <tr>
            <th>Student #</th>
            <td>{{ member.student_number }}</td>
        </tr>
        <tr>
	    <th>Notes </th>
            <td>{{member.notes | linebreaksbr}}</td>
	</tr>
        <tr>
            <th>Anonymous user</th>
            <td>{{ member.is_anonymous_user }}</td>
        </tr>
        <tr>
            <th>Current Membership Period?</th>
            <td>{{ member.get_current_membership_period.start_date }}
                - {{ member.get_current_membership_period.end_date }}</td>
        </tr>
            <tr>
            <th>Should be anonymised?</th>
                <td>{% if member.should_be_anonymised %}[YES]{% else %}[NO] {{ member.should_be_anonymised_reason }}{% endif %}</td>
        </tr>
        <tr>
            <th>Currently Member?</th>
            <td>{{ member.is_currently_member }}</td>
        </tr>
        <tr>
            <th>DMS registered?</th>
            <td>{{ member.dms_registered }}</td>
        </tr>
        {% if member.user %}
            <tr>
                <th>User</th>
                <td>{{ member.user }}</td>
            </tr>
            <tr>
                <th>User control</th>
                <td>
                    <a href="{% url 'members.change_user' member.pk %}" class="btn-sm btn-primary">Change password</a>
                    <a href="{% url 'members.remove_user' member.pk %}" class="btn-sm btn-danger">Delete account</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <th>Add user</th>
                <td>
                    <a href="{% url 'members.signup' member.pk %}" class="btn-sm btn-outline-primary">Add new</a>
                    {% if not member.invitation_code_valid %}
                        <a href="{% url 'members.generate_invite' member.pk %}"
                           class="btn-sm btn-outline-primary">Invite</a>
                    {% else %}
                        <a href="{% url 'members.disable_invite' member.pk %}"
                           class="btn-sm btn-outline-primary">Uninvite</a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    </table>
    <hr>
    <h4>Membership Periods</h4>
    <table>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Type</th>
            <th>Background</th>
        </tr>
        {% for p in member.get_periods %}
            <tr>
                <td>{{ p.start_date }}</td>
                <td>{{ p.end_date }}</td>
                <td>{{ p.membership_type }}</td>
                <td>{{ p.member_background }}</td>
                <td><a href="{% url "members.membership_period_edit" p.pk %}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'members.membership_period_new' member.pk %}">New period</a>
    <hr>
    <a href="{% url 'lendings.new.member' member.id %}" class="btn btn-primary">Browse catalog for</a>

    <a href="{% url 'members.edit' member.id %}" class="btn btn-outline-primary">Edit personal details</a>
    {% if member.can_be_deleted %}
        <a href="{% url 'members.delete' member.id %}" class="btn btn-outline-primary">Delete member</a>
    {% endif %}
    {% if member.should_be_anonymised %}
        <a href="{% url 'members.anonymise' member.id %}" class="btn btn-outline-primary">Anonimyse</a>
    {% endif %}

    {% member_current_lendings member %}
        <h4>Reservations</h4>
        {% member_current_reservations member %}

{% endblock %}
