{% extends 'base.html' %}
{% load member_reservation_table %}
{% load member_lending_table %}
{% block title %}{% if member.is_blacklisted %}<p style="color:red;">BLACKLISTED</p>{% endif %}Member:
    {{ member.name }}{% endblock %}
{% block content %}
    <style>
        .table {
            font-size: 12px;
        }
    </style>
    <div class="flex">
        <div class="grow flex  flex-wrap gap-3">
            {% if extra %}
                <div class="card col-sm-12">
                    <div class="card-body">
                        {{ extra }}
                    </div>
                </div>
            {% endif %}
            <div class="grow flex flex-col gap-3">
                {% component 'members.detailed_info' member / %}
                {% if member.user %}
                    {% component 'members.users.user' member / %}
                {% else %}
                    {% component 'members.users.no_user' member / %}
                {% endif %}
                {% component 'members.committees' member / %}
            </div>

            <div class="grow flex flex-col gap-3">
                {% component 'members.membership_periods' member / %}
                {% component 'members.current_lendings' member /%}
                {% include 'members/partials/reservations_card.html' %}
            </div>
        </div>
        {% component 'help_bar' %}
            You can search for members on this page, by typing their name into the input field.<br>
            <br>
            By default, only people who are currently a member are listed; switch to 'also previous' if desired.

        {% endcomponent %}
    </div>

{% endblock %}
