{% extends 'base.html' %}
{% block title %}Member Search{% endblock %}
{% block content %}

    {% component 'members.search_input' request.GET.q / %}
    <div class="flex w-full ">

        {% component "widget/widget_base" %}

            {% fill "title" %}
                {% include 'pagination.html' %}
            {% endfill %}
            {% fill "content" %}
                <table class="table table-striped" style="width: auto;">
                    {% for member in object_list %}
                        {% include 'members/list_item.html' %}
                    {% empty %}
                        <i> No results</i>
                    {% endfor %}
                </table>



            {% endfill %}
        {% endcomponent %}

    </div>
{% endblock %}
