{% extends 'hx_modal.html' %}
{% block content %}
    <div class="modal-header">
        <h4>Edit Membership period for {{ member.get_name }}</h4>
    </div>
    <form hx-post="{{ request.path }}" class="modal-content" method="post">
        <div class="modal-body">
            {% csrf_token %}
            {% component 'form/compact' form / %}
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Submit">
        </div>
    </form>
{% endblock %}