{% extends 'base.html' %}
{% block title %}
    New Member
{% endblock %}
{% block content %}
    {% component "tile/tile" %}
        {% fill 'title' %}
            New Member
        {% endfill %}
        {% fill "content" %}
            <form method="post" novalidate>
                {% csrf_token %}

                {{ form.non_field_errors }}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}

                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">{{ form.fields.name.label }}</span>
                    </div>
                    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"
                           name="{{ form.fields.name.id_for_label }}"/>
                </label>
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">{{ form.fields.nickname.label }}</span>
                    </div>
                    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"
                           name="{{ form.fields.nickname.id_for_label }}"/>
                </label>

                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">{{ form.fields.address_line_one.label }}</span>
                    </div>
                    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"
                           name="{{ form.fields.address_line_one.id_for_label }}"/>
                    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"
                           name="{{ form.fields.address_line_two.id_for_label }}"/>
                    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"
                           name="{{ form.fields.address_line_three.id_for_label }}"/>
                </label>


                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">{{ form.fields.primary_email.label }}</span>
                    </div>
                    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"
                           name="{{ form.fields.primary_email.id_for_label }}"/>
                </label>

                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">{{ form.fields.secondary_email.label }}</span>
                    </div>
                    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"
                           name="{{ form.fields.secondary_email.id_for_label }}"/>
                </label>


                <label class="form-control w-full max-w-xs">
                    <div class="label" for="id_student_number">
                        <span class="label-text">{{ form.fields.student_number.label }}</span>
                    </div>
                    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"
                           name="student_number" id="id_student_number"/>
                </label>
                <input type="submit" action="Send">
            </form>
        {% endfill %}
    {% endcomponent %}
{% endblock %}