{% extends 'base.html' %}
{% block title %}Request User Login{% endblock %}
{% block content %}
    <div class="max-w-full flex flex-wrap gap-3">
        {% component "tile.Tile" root_class_tags="grow max-w-screen" %}
            {% fill 'title' %}
                Success!
            {% endfill %}
            {% fill 'content' %}
                Thank you for signing up for a Bellettrie account. There should be an email in your mailbox somewhere in the next 30 minutes. If it doesn't arrive after that, please check your spam filters, or contact us.
            {% endfill %}
        {% endcomponent %}
    </div>
{% endblock %}