{% extends "base.html" %}
{% block title %}Holiday List{% endblock %}
{% block content %}
    <a href="{% url 'holiday.add' %}" class="btn btn-primary">Add Holiday</a>
    {% component 'config.holiday_table' object_list / %}
    {% component 'help_bar' %}
        If <i>Skipped for fine</i> is true, this means that the days of the holiday for which it is true are not counted when calculating fines. <br/>
        By default, holiday days count regularly for fines (as do weekend days).
    {% endcomponent %}
{% endblock %}
