{% extends "base.html" %}
{% block title %}Delete holiday{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        The following holiday will be deleted?
        <ul>
            <input type="hidden" value="{{ object.id }}" name="itemsToDelete"/>
            <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
        </ul>
        <input type="submit" class="btn btn-danger" value='Confirm deletion' name="confirm_delete"/>
        <a class="btn btn-primary" href="{% url 'holiday.list' %}" target="_blank">Cancel</a>
    </form>
{% endblock %}