{% extends "base.html" %}
{% block title %}Holiday List{% endblock %}
{% block content %}
    <a href="{% url 'holiday.add' %}" class="btn btn-primary">Add Holiday</a>
    {% component 'config.holiday_table' object_list / %}
    {% component 'help_bar' %}
        <p class="indent-4">
            On this page are all the holiday days registered in the system.
            The system takes these holidays into account when calculating the end-dates for lendings.
            Adding a holiday also triggers a recalculation of all existing lendings that weren't late on the start-date
            of the holiday.
        </p>
        <h3>Fine Skip Days</h3>
        <p class="indent-4">
            By default, holiday days count regularly for fines (as do weekend days).<br>
            This behavior can be changed by setting <em>Skipped for Fine</em> to true on a holiday. The system then skips the days in that holiday when counting the number of late-days.
        </p>
    {% endcomponent %}
{% endblock %}
