{% load menu %}
<style>
    .renderLogoutfakeURL {
        font-family: 'Rubik', sans-serif;
        font-size: 1vw;
        color: grey;
        padding: 0;
        border: 0;
        margin-top: -.8vw;
    }

    .renderLogoutformstyle {
        display: inline;
        padding-left: .1vw;
        font-family: 'Rubik', sans-serif;
        font-size: 1vw;
        color: grey;
    }

</style>


{% if mode == 'desktop-top' %}
    <a class="vertical align-top"> </a>
    <form method="post" action="{% url 'logout' %}" class="form-inline renderLogoutformstyle align-top">
        {% csrf_token %}
        <input class="btn btn-outline renderLogoutfakeURL" type="submit" value="{{ menu.title }}">
    </form>
{% endif %}
{% if mode == 'mobile-only' %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <li class="treeview hiddenDesktop">
            <input class="btn btn-link" type="submit"  value="{{ menu.title }}">
        </li>
    </form>
{% endif %}
