    <li class="ml-1 sm:ml-8 series_tree_other">
        <div style="overflow:auto;">
            <a class="link link-secondary" href="/works/publication/{{ from_work.pk }}">
                {% if relation_index_label %}{{ relation_index_label }} - {% endif %}
            </a>
                <a class="link {% if home_node.id == from_work.pk %}text-bellered{% else %}link-secondary{% endif %} truncate"  href="{% url 'works.view' from_work.pk %}">
                    {% if from_work.article %}{{ from_work.article }}{% endif %} <i>
                    {% if from_work.title %}{{ from_work.title }}{% else %}&lt;No Title&gt;{% endif %}</i></a>
                <span style="float:right">   {% for item in from_work.get_pub.get_items %}
                    {{ item.book_code }} {{ item.book_code_extension }}<br>
                {% endfor %}
         </span>
                {% for item in from_work.get_pub.get_items %}
                    <br>
                {% endfor %}

                {% for author in creators %}{% include 'creators/single_line_description.html' %}
                    {% if not forloop.last %}<br/>{% endif %}
                {% endfor %}
        </div>
        <ul class="ml-1  sm:ml-8 ">
            {% for child in children %}
                {% component 'series.Tree' child home_node /%}
            {% endfor %}
        </ul>
    </li>