{% extends 'base.html' %}
{% block content %}
    {% component 'tile.Tile' root_class_tags="" %}
        {% fill 'title' %}Inventarisation Form {{ page_id }} for {{ inventarisation.location }}{% endfill %}
        {% fill 'content' %}
            Finishing inventarisation for {{ inventarisation.location }}.<br>
        {% endfill %}
            {% fill 'footer' %}
        {% component 'tile.Footer' %}
            <a class="btn btn-success join-item" href="{% url 'inventarisations.finished' inventarisation.pk %}">Finish it</a>
        {% endcomponent %}
    {% endfill %}
    {% endcomponent %}
{% endblock %}
