{% extends 'base.html' %}
{% block title %}
    Inventarisation Form {{ page_id }} (of {{ counts }}) for {{ inventarisation.location }}{% endblock %}
{% block content %}
    <form action="#" method="post">
        {% csrf_token %}
        <table class="table table-striped">
            <tr>
                <th width="150px" style="font-size:10px">Author</th>
                <th width="200px" style="font-size:10px">Title</th>
                <th width="150px" style="font-size:10px">Book Code</th>
                <th width="60px" style="font-size:10px">State</th>
                <th style="font-size:10px">Selector</th>
            </tr>
            {% for row in rows %}
                {% with row.item as item %}
                    <tr>
                        <td style="font-size:10px">{{ item.publication.get_authors.0.creator.name|truncatechars:20 }}</td>
                        <td style="font-size:10px">{{ item.get_title|truncatechars:30 }}</td>
                        <td style="font-size:10px">{{ item.display_code }}</td>
                        <td style="font-size:10px">{{ row.prev_state }}{% if item.is_lent_out %} (LENT){% endif %}</td>

                        <td style="font-size:10px">
                            {% if not row.prev_state.state.is_final_state %}
                                <input type="radio" id="yes" name="seen{{ item.pk }}" value="yes"
                                       {% if row.option_filled == "yes" %}checked{% else %}autofocus{% endif %}>
                                <label for="yes">Yes</label>
                                <input type="radio" id="no" name="seen{{ item.pk }}" value="no"
                                       {% if row.option_filled == "no" %}checked{% endif %}>
                                <label for="no">No</label>
                                <input type="radio" id="maybe" name="seen{{ item.pk }}" value="maybe">
                                <label for="maybe">Skip</label>
                            {% else %}
                                <i>Not Applicable</i>
                                <input type="hidden" id="no" name="seen{{ item.pk }}" value="yes">
                            {% endif %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </table>
        <input type="submit" name="next" value="Save and Next" class="btn btn-success"><input type="submit" value="Save"
                                                                                              class="btn btn-primary">
    </form>
{% endblock %}
