{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
    {% component 'tile.Tile' root_class_tags="" %}
        {% fill 'title' %}Inventarisation List{% endfill %}
        {% fill 'content' %}
            <script>
                function doClick(id) {
                    // we use the magic number to change the url with scripting, after we've loaded the url.
                    let magic_number = 'f4213370';
                    let url = "{% url "inventarisations.page" 'f4213370' 'pageNr421337' %}";
                    url = url.replace(magic_number, id);
                    window.location.href = url.replace('pageNr421337', document.getElementById("pageNr" + id).value);
                }
            </script>
            <table class="table table-zebra">
                {% for inv in inventarisations %}
                    {% if inv.is_active %}
                        <tr>
                            <td>
                                <dl>
                                    <dd><b>{{ inv.location.name }}{{ inv.location.category.name }}</b></dd>
                                    <dd><i>Started</i> {{ inv.date_time }}</dd>
                                </dl>
                            </td>

                            <script>
                                var input = document.getElementById("pageNr{{ inv.pk }}");

                                // Execute a function when the user releases a key on the keyboard
                                input.addEventListener("keyup", function (event) {
                                    // Number 13 is the "Enter" key on the keyboard
                                    if (event.keyCode === 13) {
                                        // Cancel the default action, if needed
                                        event.preventDefault();
                                        // Trigger the button element with a click
                                        doClick({{ inv.pk }})
                                    }
                                });
                            </script>
                            <td class="join">
                                <a href="{% url 'inventarisations.print' inv.pk %}" class="btn btn-sm join-item">Print
                                    List</a>
                                <input type="text" class="input input-bordered input-sm join-item" placeholder="Number"
                                       style="width:120px"
                                       aria-label="Page Number" aria-describedby="basic-addon2" id="pageNr{{ inv.pk }}">
                                <button class="btn btn-outline-secondary  btn-sm join-item"
                                        onclick="doClick({{ inv.pk }})"
                                        type="button">To
                                    page
                                </button>
                                <a href="{% url 'inventarisations.page.next' inv.pk -1 %}"
                                   class="btn-primary btn btn-sm  join-item">Next
                                    Page</a>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <hr>
        {% endfill %}
        {% fill 'footer' %}
            {% component 'tile.Footer' %}
                <a href="{% url 'inventarisations.new' %}" class="btn-primary btn join-item">New</a>
            {% endcomponent %}
        {% endfill %}
    {% endcomponent %}
{% endblock %}
