{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <form action="#" method="post">
        {% csrf_token %}
        {% component 'tile.Tile' root_class_tags="" %}
            {% fill 'title' %}Start a new Inventarisation
            {% endfill %}
            {% fill 'content' %}
                {{ form.location }}
            {% endfill %}
            {% fill 'footer' %}
                {% component 'tile.Footer' %}
                    <input type="submit" class="btn btn-primary  join-item" value="Add One">
                    <a href="{% url "inventarisations.inventarisation.forAll" %}" class="btn btn-error join-item">Add for All</a>
                {% endcomponent %}
            {% endfill %}
        {% endcomponent %}
    </form>
{% endblock %}

