{% component 'tile/tile' root_class_tags="grow max-w-screen lg:basis-1/5 " %}
    {% fill 'title' %}Committees{% endfill %}
    {% fill 'content' %}

        {% if committees %}
            <table class="table table-xs table-zebra">

                <tr>
                    <th>Committee Name</th>
                    <th></th>
                </tr>

                {% for p in committees %}
                    <tr>
                        <td>{{ p.name }}</td>
                        {% if perms.members.committee_update %}
                            <td class="text-right"><a class="btn btn-xs btn-error"
                                   data-hx-get="{% url 'members.committee.leave' member.pk p.pk %}" hx-target="#dialog"
                                   href="{% url "members.committee.leave"  member.pk p.pk %}">Remove</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <i>{{ member.name }} is not in any committees.</i>
        {% endif %}

    {% endfill %}
    {% fill 'footer' %}
        {% component 'tile/footer' %}
            {% if perms.members.committee_update %}

                <a class="btn btn-sm btn-primary join-item" data-hx-get="{% url 'members.committee.join'  member.pk %}"
                   hx-target="#dialog"
                   href="{% url 'members.committee.join' member.pk %}">Add to Committee</a>
            {% endif %}
        {% endcomponent %}
    {% endfill %}
{% endcomponent %}