{% component 'tile/tile' root_class_tags="" %}
    {% fill 'title' %}{% if member.user == user %}My Lendings {% else %}Lendings{% endif %} {% endfill %}
    {% fill 'content' %}
        {% component 'lendings.list.List' lendings perms show_member=False small_table=True skip_header=True / %}
    {% endfill %}
    {% fill 'footer' %}
        {% if member.pk == user.member.pk %}
            {% component 'tile/footer' %}
                <a class="btn btn-sm btn-outline-primary join-item" href="{% url 'lendings.me' %}">My lending history</a>
            {% endcomponent %}
        {% endif %}
    {% endfill %}
{% endcomponent %}