{% component 'tile/tile' root_class_tags="grow max-w-screen " %}
    {% fill 'title' %}Member Info {% endfill %}
    {% fill 'content' %}
        <table class="table table-striped table-sm" style="width: 100%;">
            <tr>
                <th>Name</th>
                <td>{{ member.name }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ member.nickname }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ member.address_line_one }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ member.address_line_two }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ member.address_line_three }}</td>
            </tr>
            <tr>
                <th>Primary e-mail</th>
                <td>{{ member.primary_email }} {% if member.primary_email_in_use %} &#10004; {% endif %}</td>
            </tr>
            <tr>
                <th>Secondary e-mail</th>
                <td>{{ member.secondary_email }}{% if member.secondary_email_in_use %} &#10004; {% endif %}</td>
            </tr>
            <tr>
                <th>Phone #</th>
                <td>{{ member.phone }}</td>
            </tr>
            <tr>
                <th>Student #</th>
                <td>{{ member.student_number }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ member.notes | linebreaksbr }}</td>
            </tr>
            {% if member.is_anonymous_user %}
                <tr>
                    <th>Anonymous user</th>
                    <td>Yes</td>
                </tr>
            {% else %}
                {% if member.should_be_anonymised %}
                    <tr>
                        <th>Anonymous user</th>
                        <td>Pending anonymisation</td>
                    </tr>
                {% endif %}
            {% endif %}
            <tr>
                <th>Current Membership Period?</th>
                <td>{{ member.get_current_membership_period.start_date }}
                    - {{ member.get_current_membership_period.end_date }}</td>
            </tr>

            <tr>
                <th>Currently Member?</th>
                <td>{{ member.is_currently_member }}</td>
            </tr>
            <tr>
                <th>DMS registered?</th>
                <td>{{ member.dms_registered }}</td>
            </tr>

        </table>
    {% endfill %}


    {% fill 'footer' %}
        {% component 'tile/footer' %}
            <div class="w-full flex flex-row justify-end join">
                <a href="{% url 'members.view' member.id 0 %}" class="btn btn-sm btn-outline-primary join-item">Less
                    details</a>
                <a href="{% url 'members.edit' member.id %}" class="btn btn-sm btn-primary join-item">Edit</a>
                <a href="{% url 'lendings.new.member' member.id %}" class="btn btn-sm btn-secondary join-item">Browse for
                    member</a>
                {% if member.should_be_anonymised %}
                    <a href="{% url 'members.anonymise' member.id %}"
                       class="btn btn-sm btn-outline-primary">Anonimyse</a>
                {% endif %}
            </div>
        {% endcomponent %}
    {% endfill %}
{% endcomponent %}