{% component 'tile/tile' root_class_tags="grow max-w-screen " %}
    {% fill 'title' %}Member Info {% endfill %}
    {% fill 'content' %}
        <table class="table table-striped table-sm" style="width: 100%;">
        <dl class="divide-y divide-gray-100">
             {% component "datarow/datarow" "Full Name" %}
                {{ member.name }}
                {% if member.nickname %}
                    <br><i>~{{ member.nickname }}</i>
                {% endif %}
            {% endcomponent %}
            {% component "datarow/datarow" "Address" %}
                {% if member.address_line_one %}{{ member.address_line_one }}{% endif %}
                {% if member.address_line_two %}<br>{{ member.address_line_two }}{% endif %}
                {% if member.address_line_three %}<br>{{ member.address_line_three }}{% endif %}
                {% if member.address_line_four %}<br>{{ member.address_line_four }}{% endif %}
            {% endcomponent %}

            {% component "datarow/datarow" "Primary Email" %}
                {{ member.primary_email }} {% if member.primary_email_in_use %} &#10004; {% endif %}
            {% endcomponent %}
            {% component "datarow/datarow" "Secondary Email" %}
                {{ member.secondary_email }} {% if member.secondary_email_in_use %} &#10004; {% endif %}
            {% endcomponent %}
            {% component "datarow/datarow" "Phone Number" %}
                {{ member.phone }}
            {% endcomponent %}
            {% component "datarow/datarow" "Student Number" %}
                {{ member.student_number }}
            {% endcomponent %}
            {% component "datarow/datarow" "Current Membership" %}
                {{ member.get_current_membership_period.membership_type }}
                {% if member.is_blacklisted %}BLACKLISTED{% endif %}
            {% endcomponent %}
            {% component "datarow/datarow" "Notes" %}
                {{ member.notes | linebreaksbr }}
            {% endcomponent %}
            {% component "datarow/datarow" "DMS Registered" %}
                {{ member.dms_registered }}
            {% endcomponent %}
            {% if member.is_anonymous_user or member.should_be_anonymised %}
                {% component "datarow/datarow" "Data Anonimisation Status" %}
                    {% if member.is_anonymous_user %}
                        Was Anonymised
                    {% else %}
                        Pending Anymisation
                    {% endif %}
                {% endcomponent %}
            {% endif %}
        </dl>
    {% endfill %}
{% fill 'footer' %}
    {% component "members.info.footer" member / %}
{% endfill %}
{% endcomponent %}