{% extends 'hx_modal.html' %}

{% block content %}
    <div class="text-lg font-bold">
        Add {{ member.name }} to Committee
    </div>
    <form  hx-post="{{ request.path }}" class="modal-content w-full"
          method="post">
        {% csrf_token %}
        <div class="join w-full">
            <select class="select select-bordered w-full max-w-xs join-item" name="committee_id">
                {% for committee in committees %}
                    <option value="{{ committee.pk }}">{{ committee.name }}</option>
                {% endfor %}
            </select>

            <input type="submit" class="btn btn-primary join-item" value="Confirm">
        </div>

    </form>
{% endblock %}