{% extends hx_enabled|yesno:"hx_modal.html,base.html" %}

{% block content %}
    {% component 'modalform.ModalForm' title="Change item location" path=request.path form_action="submit" %}
        {% fill "modal_body" %}
            Warning, this is highly destructive.
            {% csrf_token %}
            {% component 'form.Smol' form / %}
            <div class="form-control">
                <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm/6 font-medium">Generate book code</dt>
                    <dd class="mt-.5 text-sm/6  sm:col-span-2 sm:mt-0">
                        {% with item_id=item_id %}
                            {% with publication_id=item.publication.id %}
                                {% with location_id_field='id_location' %}
                                    {% include 'book_code_generation/code_lookup.html' %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    </dd>
                </div>
            </div>
            Note: changing the book-code here adds a recode-request to the item.
        {% endfill %}
    {% endcomponent %}
{% endblock %}
