{% extends hx_enabled|yesno:"hx_modal.html,base.html" %}

{% block content %}
    <script>
        function no() {
            window.history.back();
        }
    </script>
    {% component 'modalform.ModalForm' title="Are you sure?" path=request.path form_action="submit" %}
        {% fill "modal_body" %}
            Are you sure you want to {{ what }}?
        {% endfill %}
        {% fill 'modal_submit_button' %}
            <div class="modal-action">
                <a class="btn btn-error"
                        {% if hx_enabled %}
                   hx-get="{{ requestpath }}?confirm=True"
                   hx-target="#dialog"
                        {% endif %}
                   href="{{ requestpath }}?confirm=True">Yes</a>

                <form method="dialog">
                    <button class="btn"
                            {% if not hx_enabled %}
                            onclick="no()"
                            {% endif %}>
                        No
                    </button>
                </form>
            </div>
        {% endfill %}
    {% endcomponent %}
{% endblock %}
