<!DOCTYPE html>
<html lang="en" data-theme="fantasy">

{% load static %}
{% load menu %}
{% load logo %}

<head>
    {% include 'base_header.html' %}
    {% get_title %}
    {% component_css_dependencies %}
</head>

<body>

{% include 'base_hx_dialog.html' %}

<div class="min-h-screen flex flex-col w-full ">
    {% menu_data 'top' perms user.is_anonymous as top_menu_items %}
    {% component 'nav.navbar.Navbar' top_menu_items / %}

    <div class="grow bg-base flex flex-row w-full justify-content-center">
        {% menu_data 'sidebar' perms user.is_anonymous as sidebar_menu_items %}
        {% component "nav.sidebar.Sidebar" sidebar_menu_items top_menu_items / %}

        <section class="grow px-5  mt-6 mb-3 ">
           <div class="flex w-full place-content-center mb-3"><h1 class="text-3xl"> {% block title %}{% endblock %}</h1></div>
            {% block content %}{% endblock %}
        </section>
    </div>

    {% component 'footer.Footer' / %}
    {% component_js_dependencies %}
</div>
</body>
</html>