<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load menu %}
{% load logo %}

<head>
    {% include 'base_header.html' %}
    {% get_title %}
    {% component_css_dependencies %}
</head>

<body>

{% include 'base_hx_dialog.html' %}

<div class="min-h-screen flex flex-col w-full ">
    {% menu_data 'top' perms as top_menu_items %}
    {% component 'nav.navbar.Navbar' top_menu_items / %}

    <div class="grow flex flex-row w-full">
        {% menu_data 'sidebar' perms as sidebar_menu_items %}
        {% component "nav.sidebar.Sidebar" sidebar_menu_items / %}

        <section class=" grow   px-5  mt-12 mb-2 ">
            {% block content %}{% endblock %}
        </section>
    </div>

    {% component 'footer.Footer' / %}
    {% component_js_dependencies %}
</div>
</body>
</html>