{% load static %}
{% load menu %}
{% load logo %}
<!DOCTYPE html>
<html lang="en" data-theme="bellekia" class="text-lg">

<head>
    {% include 'base_header.html' %}
    {% get_title %}
    {% component_css_dependencies %}
    <style>
        h1{
            font-size:3.5rem;
        }
        h2{
            font-size:2.5rem;
        }
        h3{
            font-size:2rem;
        }
        h4{
            font-size:1.5rem;
        }
    </style>
</head>

<body>
{% include 'base_hx_dialog.html' %}
<div class="min-h-screen flex flex-col w-fit min-w-full ">
    {% component 'navbar.Navbar' perms / %}

    <div class="grow bg-base-200 flex flex-row w-fit min-w-full justify-content-center">
        {% component "navbar.sidebar.Sidebar" perms / %}
            <div  {% autoescape off %}{% main_body_classes %}{% endautoescape %}>
                <section class="grow px-5  mt-6 mb-3 ">
                    <div class="flex w-full place-content-center mb-3">
                        <h1 class="text-3xl">{% block title %}{% endblock %}</h1></div>
                    {% block content %}{% endblock %}
                </section>

            </div>
    </div>
    {% component 'navbar.footer.Footer' perms / %}
    {% component_js_dependencies %}
</div>
</body>
</html>