<div class="modal-content">
    <div class="modal-title">
        <div class="modal-header">
            <h5 class="modal-title"> {% block modal_title %}
            {% endblock %}</h5>
        </div>
    </div>
    {% block form_start %}
        {# Default form behavior is to post to same url. This should work in most cases #}
        <form hx-post="{{ request.path }}" method="post">
        {% csrf_token %}
    {% endblock %}
    <div class="modal-body">
        {% block content %}
        {% endblock %}
    </div>
    <div class="modal-footer">
        {% block modal_footer %}
        {% endblock %}
    </div>
    {% block form_end %}
        </form>
    {% endblock %}
</div>