<ul class="sidebar-menu">


    {% if user.is_authenticated %}
        {% if perms.works.view_work %}
            <li class="treeview"><a activeclassname="active" href="{% url 'works.list' %}"><i
                    class="fa fa-book"></i><span>Books</span></a></li>
        {% endif %}
        {% if perms.members.view_member %}
            <li class="treeview"><a activeclassname="active" href="{% url 'members.list' %}"><i
                    class="fa fa-user"></i><span>Members</span></a>
            </li>
        {% endif %}
        {% if perms.lendings.view_lending %}
            <li class="treeview"><a activeclassname="active" href="{% url 'lendings.list' %}"><i
                    class="fa fa-book"></i><span>Lendings</span></a>
            </li>
        {% endif %}
        {% if perms.config.view_holiday %}
            <li class="treeview"><a activeclassname="active" href="{% url 'holiday.list' %}"><i
                    class="fa fa-plane"></i><span>Holidays</span></a>
            </li>
        {% endif %}
        <li class="treeview"><a activeclassname="active" href="{% url 'logout' %}"><i
                class="fa fa-plane"></i><span>Logout</span></a>
            {% else %}
        <li class="treeview"><a activeclassname="active" href="{% url 'login' %}"><i
            class="fa fa-plane"></i><span>Login</span></a>
    {% endif %}
    </li>
</ul>
