<ul class="sidebar-menu">
    <li class="treeview"><a activeclassname="active" href="{% url 'search-works' %}"><i
            class="fa fa-book"></i><span>Books</span></a></li>
    <li class="treeview"><a activeclassname="active" href="{% url 'members-list' %}"><i
            class="fa fa-user"></i><span>Members</span></a>
    </li>
    <li class="treeview"><a activeclassname="active" href="{% url 'lending_base' %}"><i
            class="fa fa-book"></i><span>Lendings</span></a>
    </li>
    <li class="treeview"><a activeclassname="active" href="{% url 'holiday-list' %}"><i
            class="fa fa-plane"></i><span>Holidays</span></a>
    </li>

        <li class="treeview"><a activeclassname="active" href="{% url 'logout' %}"><i
            class="fa fa-plane"></i><span>Logout</span></a>
    </li>
</ul>
