<div class="pagination bg-primary-50 flex justify-center">
 <span class="join">
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=page_obj.previous_page_number %}" class="btn join-item">Prev</a>
       {% else %}
       <a class="btn btn-disabled join-item">Prev</a>
   {% endif %}
     <span class="btn btn-disabled join-item [.btn&]:text-black">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
   </span>
     {% if page_obj.has_next %}
         <a href="?{% url_replace page=page_obj.next_page_number %}" class="btn join-item">Next</a>
         {% else %}
         <a class="btn btn-disabled join-item">Next</a>
     {% endif %}
  </span>
</div>