{% component 'tile/tile' root_class_tags="" %}
    {% fill 'title' %}Items for this publication{% endfill %}
    {% fill 'content' %}
        <table class="hidden lg:block">
            {% for item in object.get_items %}
                <tr>
                    <td>
                        {{ item.book_code }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% for item in object.get_items %}
            <dl class="lg:hidden">
                <dd>{{ item.book_code }}</dd>
            </dl>
        {% endfor %}
    {% endfill %}
    {% fill 'footer' %}
        {% if perms.works.change_item %}
            {% component 'tile/footer' %}
                <a href="{% url 'works.item.new' publication.pk %}" class="align-self-end card-link"
                   style="margin-top: auto;">Add new Item</a>
            {% endcomponent %}
        {% endif %}
    {% endfill %}
{% endcomponent %}
