{% component 'tile.Tile' root_class_tags="lg:basis-64" %}
    {% fill 'title' %}{% if series %}Series
        {% else %}{% if work.get_items %}Publication{% else %}Work {% endif %}{% endif %} Details{% endfill %}
    {% fill 'content' %}
        <dl class="w-full divide-y divide-gray-100">
            {% component "datarow.Datarow" "Title" %}
                {% if work.title %}{{ work.get_title }} {% if work.sub_title %}<br/>
                    <i>-{{ work.sub_title }}</i>{% endif %}{% else %} <i>No Title</i> {% endif %}
            {% endcomponent %}
            {% if work.language %}
                {% component "datarow.Datarow" "Language" %}
                    {{ work.language }}
                {% endcomponent %}
            {% endif %}
            {% if work.original_title or work.original_subtitle %}
                {% component "datarow.Datarow" "Original Title" %}
                    {% if work.get_original_title %}{{ work.get_original_title }}
                        {% if work.original_subtitle %}<br/>
                            <i>-{{ work.original_subtitle }}</i>{% endif %}{% else %}
                        <i>No Title</i> {% endif %}
                {% endcomponent %}
            {% endif %}
            {% component "datarow.Datarow" "Authors" %}
                {% for author in work.get_authors %}{% include 'creators/single_line_description.html' %}<br>
                {% endfor %}
            {% endcomponent %}
            {% if work.comment %}
                {% component "datarow.Datarow" "Comments" %}
                    {{ work.comment }}
                {% endcomponent %}
            {% endif %}
            {% if part_of_series %}
                {% component "datarow.Datarow" "Series" %}
                    {% for part_of in  part_of_series %}
                        {% include 'series/part_of_series_name.html' %}{% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                {% endcomponent %}

            {% endif %}
            {% if series %}
                {% component "datarow.Datarow" "Series Location" %}
                    {{ series.location }}
                {% endcomponent %}
                {% component "datarow.Datarow" "Series Book Code" %}
                    {{ series.book_code }}
                    {% if perms.series.change_series %}
                        <a class="btn btn-primary btn-sm" hx-get="{% url 'series.book_code.set' series.work_id %}"
                           hx-target="#dialog" href="{% url 'series.book_code.set' series.work_id %}">
                            {% if series.book_code %}
                                Edit{% else %}New{% endif %}</a>
                    {% endif %}
                {% endcomponent %}
                {% if series.location_code and perms.series.change_series %}
                    {% component "datarow.Datarow" "Series Location Code" %}
                        {{ series.location_code.letter }}-{{ series.location_code.number }}
                        {% if perms.series.change_series %}
                            <a class="btn btn-danger btn-sm"
                               hx-get="{% url 'series.location_book_code.delete' series.work_id %}"
                               hx-target="#dialog"
                               href="{% url 'series.location_book_code.delete' series.work_id %}">Delete</a>
                        {% endif %}
                        <br>
                        <small>{{ series.location_code.name }}</small>
                    {% endcomponent %}
                {% endif %}
            {% endif %}
            {% with part_of_works=work.part_of_works %}
                {% if part_of_works %}
                    {% component "datarow.Datarow" "Available in Work" %}
                        {% for subwork_relation in  part_of_works %}
                            {% if subwork_relation.to_work.title %}
                                <a class="link link-secondary" href="{% url "works.view" subwork_relation.to_work.id %}">
                                    {{ subwork_relation.to_work.get_title }}
                                </a>
                                {% if subwork_relation.to_work.sub_title %}
                                    <br/>
                                    <i>-{{ subwork_relation.to_work.sub_title }}</i>
                                {% endif %}
                            {% else %}
                                <i>No Title</i>
                            {% endif %}
                        {% endfor %}
                    {% endcomponent %}
                {% endif %}
            {% endwith %}
        </dl>
    {% endfill %}
    {% fill 'footer' %}
        {% if perms.works.change_work %}
            {% component 'tile.Footer' %}
                {% if work.is_deletable %}
                    <a class="btn btn-sm btn-error join-item"
                       href="{% url "works.delete" work.pk %}">Delete</a>
                {% else %}
                    <a class="btn btn-sm btn-error btn-disabled join-item"
                    >Delete</a>
                {% endif %}
                {% if not series %}
                    <a class="btn btn-sm  btn-primary join-item"
                       href="{% url 'works.edit' work.pk %}">Edit publication</a>
                {% else %}
                    <a class="btn btn-sm  btn-primary join-item"
                       href="{% url 'series.edit' work.pk %}">Edit series</a>
                {% endif %}
            {% endcomponent %}
        {% endif %}
    {% endfill %}
{% endcomponent %}