{% component 'tile/tile' root_class_tags="lg:basis-64" %}
    {% fill 'title' %}Publication Details{% endfill %}
    {% fill 'content' %}
        <table class="table table-striped" style="width: 100%;">
            <tr>
                <th>Title</th>
                <td>
                    {% if object.title %}{{ object.get_title }} {% if object.sub_title %}<br/>
                        <i>-{{ object.sub_title }}</i>{% endif %}{% else %} <i>No Title</i> {% endif %}
                </td>
            </tr>
            {% if object.language %}
                <tr>
                    <th>
                        Language:
                    </th>
                    <td>
                        {{ object.language }}
                    </td>
                </tr>
            {% endif %}
            {% if object.original_title or object.original_subtitle %}
                <tr>
                    <th>Original Title</th>
                    <td>
                        {% if object.get_original_title %}{{ object.get_original_title }}
                            {% if object.original_subtitle %}<br/>
                                <i>-{{ object.original_subtitle }}</i>{% endif %}{% else %}
                            <i>No Title</i> {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if object.original_language %}
                <tr>
                    <th>
                        Original Language:
                    </th>
                    <td>
                        {{ object.original_language }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Authors</th>
                <td>{% for author in object.get_authors %}{% include 'creators/single_line_description.html' %}<br>
                {% endfor %}</td>
            </tr>
            {% if object.comment %}
                <tr>
                    <th>Comment</th>
                    <td>{{ object.comment }}</td>
                </tr>
            {% endif %}
            {% if series %}
                <tr>
                    <th>Series</th>
                    <td>  {% for series in  series %}

                        {% include 'series/part_of_series_name.html' %}{% if not forloop.last %}<br>{% endif %}
                    {% endfor %}</td>
                </tr>
            {% endif %}
        </table>

    {% endfill %}
    {% fill 'footer' %}
        {% if perms.works.change_work %}
            {% component 'tile/footer' %}
                <div class=" d-flex flex-column"></div>
                <a class="align-self-end card-link" style="margin-top: auto;"
                   href="{% url 'works.publication.edit' object.pk %}">Edit publication</a><br>
            {% endcomponent %}
        {% endif %}
    {% endfill %}
{% endcomponent %}