{% with tbl=object.get_sub_works %}
    {% with series=object.workinseries_set.all %}
        <div class="card col col-12 col-xl-7">
            <div class="card-body d-flex flex-column">
                {% if series or perms.works.change_work %}
                    <h6>Series</h6><br>
                    <div>
                        <table class="table table-striped" style="width: auto;">
                            {% for series in  series %}
                                {% include 'series/part_of_series_name.html' %}
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
                {% if tbl or perms.works.change_work %}
                    <h6>Subworks</h6><br>
                    {% with should_edit=1 %}
                        {% if tbl %}
                            {% include 'works/partials/subwork_table.html' %}

                        {% endif %}
                    {% endwith %}

                {% endif %}
                {% if perms.works.change_work %}

                    <a class="card-link"
                       href="{% url 'work.subwork.new' object.pk %}">Add
                        Subwork</a>
                {% endif %}
            </div>
        </div>

    {% endwith %}
{% endwith %}