{% if tbl or perms.works.change_work %}
    {% component 'tile.Tile' root_class_tags="lg:basis-64" %}
        {% fill 'title' %}Subworks {% endfill %}
        {% fill 'content' %}
            {% with should_edit=1 %}
                {% if tbl %}
                    <table class="table table-zebra table-sm">
                        {% for subwork_relation in tbl %}
                            <tr>
                                <td>
                                    {% if subwork_relation.relation_index_label %}
                                        {{ subwork_relation.relation_index_label }}
                                    {% else %}
                                        {{ subwork_relation.relation_index_as_text }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="link link-secondary"
                                       href="{% url "works.view" subwork_relation.from_work.id %}">
                                        {{ subwork_relation.from_work.get_title_or_no_title }}
                                    </a>
                                    {% if subwork_relation.from_work.sub_title %}
                                        <br/>
                                        <i>-{{ subwork_relation.from_work.sub_title }}</i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% for author in subwork_relation.from_work.get_own_authors %}
                                        {% include 'creators/single_line_description.html' %}
                                        {% if not forloop.last %}<br/>{% endif %}{% empty %}{% endfor %}
                                </td>
                                {% if should_edit and perms.works.change_publication %}
                                    <td class="join">
                                        <a href="{% url 'works.subworks.edit' subwork_relation.from_work_id %}"
                                           class="btn btn-primary btn-xs join-item">Edit</a>
                                        <a hx-get="{% url 'works.relation.delete' subwork_relation.from_work.id subwork_relation.id %}"
                                           hx-target="#dialog"
                                           href="{% url 'works.relation.delete' subwork_relation.from_work.id subwork_relation.id %}"
                                           class="btn btn-xs btn-error join-item">Remove</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endwith %}
        {% endfill %}
        {% fill 'footer' %}
            {% if perms.works.change_work %}
                {% component 'tile.Footer' %}
                    <a class=" btn btn-sm  btn-primary join-item"
                       href="{% url 'works.subwork.new' work.pk %}">Add
                        Subwork</a>
                {% endcomponent %}
            {% endif %}
        {% endfill %}
    {% endcomponent %}
{% endif %}
