{% if tbl or perms.works.change_work %}
    {% component 'tile.Tile' root_class_tags="lg:basis-64" %}
        {% fill 'title' %}Subworks {% endfill %}
        {% fill 'content' %}
            {% with should_edit=1 %}
                {% if tbl %}
                    <table class="table table-zebra table-sm">
                        {% for subwork_relation in tbl %}
                            <tr>
                                <td>
                                    {% if subwork_relation.display_number_in_relation%}
                                        {{ subwork_relation.display_number_in_relation }}
                                    {% else %}
                                        {{ subwork_relation.number_in_relation }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if subwork_relation.work.title %}{{ subwork_relation.work.get_title }} {% if subwork_relation.work.sub_title %}<br/>
                                        <i>-{{ subwork_relation.work.sub_title }}</i>{% endif %}{% else %}
                                        <i>No Title</i> {% endif %}
                                </td>
                                <td>
                                    {% for author in subwork_relation.work.get_own_authors %}
                                        {% include 'creators/single_line_description.html' %}
                                        {% if not forloop.last %}<br/>{% endif %}{% empty %}{% endfor %}
                                </td>
                                {% if should_edit and perms.works.change_publication %}
                                    <td class="join">
                                        <a href="{% url 'work.subwork.edit' subwork_relation.work_id %}"
                                           class="btn btn-primary btn-xs join-item">Edit</a>
                                        <a href="{% url 'work.subwork.delete' subwork_relation.work_id %}"
                                           class="btn btn-error btn-xs join-item">Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endwith %}
        {% endfill %}
        {% fill 'footer' %}
            {% if perms.works.change_work %}
                {% component 'tile.Footer' %}
                    <a class=" btn btn-sm  btn-primary join-item"
                       href="{% url 'work.subwork.new' object.pk %}">Add
                        Subwork</a>
                {% endcomponent %}
            {% endif %}
        {% endfill %}
    {% endcomponent %}
{% endif %}
