{% extends 'base.html' %}
{% block title %}
    Inventarisation List
{% endblock %}
{% block content %}
    <script>
    function doClick(id){
        console.log(id);
        window.location.href="/inventarisation/list/"+id+"/"+document.getElementById("pageNr"+id).value;
    }
    </script>
    <table>
        {% for inv in inventarisations %}
            <tr>
                <td>{{ inv.location.name }}{{ inv.location.category.name }}</td>
                <td>{{ inv.dateTime }}</td>


                {% if inv.is_active %}

                    <td><a href="{% url 'inventarisation.print' inv.pk %}" class="btn-primary btn btn-sm">Print List</a></td>
                    <td><a href="{% url 'inventarisation.next' inv.pk -1 %}" class="btn-primary btn btn-sm">First inactive</a></td>
                   <td> <input width="50px" id="pageNr{{ inv.pk }}" /><button onclick="doClick({{ inv.pk }})">Go to Page</button></td>

                {% else %}
                    <td>No longer active</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <hr>
    <a href="{% url 'inventarisation.new' %}" class="btn-primary btn">New</a>

{% endblock %}