{% component 'tile/tile' root_class_tags="grow max-w-screen lg:basis-2/5  lg:flex-none" %}
    {% fill 'title' %}Member Info {% endfill %}
    {% fill 'content' %}
        <table class="table table-striped table-sm" style="width: 100%;">
            <tr>
                <th>Name</th>
                <td>{{ member.name }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ member.nickname }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ member.notes| linebreaksbr }}</td>
            </tr>
            <tr>
                <th>Current Membership</th>
                <td>{{ member.get_current_membership_period.start_date }}
                    - {{ member.get_current_membership_period.end_date }}
                    {% if not member.get_current_membership_period %}
                        <a data-hx-get="{% url 'members.membership_period_new_hx'  member.pk %}" hx-target="#dialog"
                           href="{% url 'members.membership_period_new' member.pk %}" class="btn-xs btn-primary glass">New</a>
                        </td>

                    {% endif %}
            </tr>
            <tr>
                <th>DMS registered?</th>
                <td>{{ member.dms_registered }}</td>
            </tr>
            {% if member.user %}
                <tr>
                    <th>User</th>
                    <td>{{ member.user }} <a data-hx-get="{% url 'members.remove_user_hx'  member.pk %}"
                                             hx-target="#dialog" href="{% url 'members.remove_user' member.pk %}"
                                             class="btn btn-sm btn-warning">Delete</a>
                    </td>
                </tr>
                {% if member.user == user %}
                    <tr>
                        <th>Change Password</th>
                        <td><a data-hx-get="{% url 'members.change_user_hx'  member.pk %}"
                               hx-target="#dialog" href="{% url 'members.change_user' member.pk %}"
                               class="btn-sm btn-primary">Change</a>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <th>Add user</th>
                    <td>
                        <a href="{% url 'members.signup' member.pk %}" class="btn btn-xs btn-active glass">Add new</a>
                        {% if not member.invitation_code_valid %}
                            <a href="{% url 'members.generate_invite' member.pk %}"
                               class=" btn btn-xs btn-success ">Invite</a>
                        {% else %}
                            <a href="{% url 'members.disable_invite' member.pk %}"
                               class="btn-sm btn-outline-primary">Uninvite</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        </table>

        <a href="{% url 'lendings.new.member' member.id %}" class="btn btn-sm btn-primary">Browse catalog for</a>
        <a href="{% url 'members.edit' member.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
        <a href="{% url 'members.view' member.id 1 %}" class="btn btn-sm btn-outline-primary">More details</a>

        {% if member.should_be_anonymised %}
            <a href="{% url 'members.anonymise' member.id %}" class="btn btn-sm btn-outline-primary">Anonimyse</a>
        {% endif %}
    {% endfill %}
{% endcomponent %}