{% component "widget/widget_base" %}
    {% fill "title" %}
        Members
    {% endfill %}
    {% fill "content" %}
        <div class="md:flex-vertical lg:flex w-full">
            <form action="/members" method="get" class="flex-1 pr-2">
                <div class="md:join sm:flex-vertical">
                    {% component "inputs/text" name="q" placeholder="Who are you looking for" value=query bonus_classes="join-item sm:gap-v2" /%}
                    <select class="select input-bordered join-item sm:gap-v2" id="previous" name="previous">
                        <option disabled>Which Members?</option>
                        <option value="" {% if not request.GET.previous %}selected{% endif %}>Only Current</option>
                        <option value="true" {% if request.GET.previous %}selected{% endif %}>Also Previous</option>
                    </select>
                    <button class="btn btn-primary join-item">
                        Search
                    </button>
                </div>
            </form>
            <a href="{% url 'members.new' %}" class="btn btn-outline-primary flex-1">New member</a>
        </div>
    {% endfill %}
{% endcomponent %}