<div class="navbar bg-belleyellow flex flex-row w-full shadow-md shadow-bellered">
    <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost xl:hidden">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"
                />
            </svg>
        </label>
        <ulgit p
                tabindex="0"
                class="menu menu-sm dropdown-content mt-3 z-[1] p-4 shadow bg-base-100 rounded-box"
        >
            {% slot "left_menu" %}{% endslot %}
            {% slot "right_menu" %}{% endslot %}
        </ulgit>
    </div>
    <div class="navbar-start hidden xl:flex xl:ml-10">
        <ul class="menu menu-horizontal px-1">
            {% slot "left_menu" %}{% endslot %}
        </ul>
    </div>
    <div class="navbar-center justify-center min-[900px]:justify-left xl:justify-center flex-1 xl:flex-none">
        {% slot "center_menu" %}{% endslot %}
    </div>
    <div class="navbar-end hidden min-[900px]:flex min-[900px]:mr-10 gap-5">
        <ul class="menu menu-horizontal px-1">
            {% slot "right_menu" %}{% endslot %}
        </ul>
    </div>
</div>