{% if items %}
    <div class="drawer drawer-open hidden xl:flex xl:flex-none w-fit  ">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>

        <div class="drawer-side">
{#            <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>#}
            <ul class="menu bg-base-200 text-base-content  w-80 min-h-full p-1">
                <!-- Sidebar content here -->
                {% for item in items %}
                    {% component 'top-item' item.title item.url location="sidebar" perm=item.permission / %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}