<table class="m-3 hidden lg:table table-zebra {% if small_table %}table-xs{% endif %} table-pin-rows table-pin-cols ">
    <tr>

        <th>Title</th>
        <th>Author</th>
        <th>Member</th>
        <th>Lending Info</th>
        <th></th>

    </tr>
    {% for lending in lendings %}
        <tr>
            <td><dl><dd>{{ lending.item.get_title }}</dd><dd class="text-xs">{{lending.item.book_code }}</dd></dl></td>
            <td>{{ lending.item.publication.get_authors.0.creator.name }}, {{ lending.item.publication.get_authors.0.creator.given_names }}</td>
            <td>{{ lending.member.name }}</td>
            <td><dl><dd>{{ lending.end_date }}</dd>{% if lending.is_late %}<dd>Fine: €{{ lending.calculate_fine }}</dd>{% endif %}</dl></td>
        <td class=" flex  justify-end  join">

            {% component 'lendings/buttons/extend' lending user.member perms bonus_classes="btn-sm join-item " / %}
            {% component 'lendings/buttons/return' lending user.member perms bonus_classes="btn-sm join-item "  / %}

        </td>
        </tr>
    {% endfor %}
</table>

<div class="lg:hidden flex flex-col gap-5 m-3">
    {% for lending in lendings %}
        {% component 'lendings.card.Card' lending perms / %}

    {% endfor %}
</div>