<div class="card m-3 p-3 hidden md:block bg-base-100 ">
    <table class="table {% if small_table %}table-xs{% endif %} table-zebra table-pin-rows table-pin-cols ">
        <tr>
            {% if not skip_header %}
                <th></th>
            {% endif %}
            <th>Title</th>
            <th>Author</th>
            {% if show_member %}
                <th>Member</th>
            {% endif %}
            <th>Infos</th>
            <th></th>
        </tr>
        {% for lending in lendings %}
            {% component 'works.table.Row' item=lending.item skip_header=skip_header %}
                {% fill "extra_rows" %}
                    {% if show_member %}
                        <td><a class="link link-neutral"  href="{% url 'members.view' lending.member.pk 0 %}">{{ lending.member.name }}</a></td>
                    {% endif %}
                    <td>
                        <dl>

                            <dd>
                                {% if lending.handed_in %}
                                    Returned: {{ lending.handed_in_on }}
                                {% else %}
                                    Due: <em>{{ lending.end_date }}</em>
                                {% endif %}
                            </dd>
                            {% if lending.is_late and not lending.handed_in %}
                                <dd>Fine: €{{ lending.calculate_fine }}</dd>
                            {% endif %}
                        </dl>
                    </td>
                    <td class="items-center">
                        <div class="join">
                            {% component "lendings.buttons.Extend" lending user.member perms bonus_classes=btn_bonus_classes / %}
                            {% component "lendings.buttons.Return" lending user.member perms bonus_classes=btn_bonus_classes / %}
                        </div>
                    </td>
                {% endfill %}
            {% endcomponent %}
        {% endfor %}
    </table>
</div>
<div class="lg:hidden flex flex-col gap-5 m-3">
    {% for lending in lendings %}
        {% component 'lendings.card.Card' lending perms show_member=show_member / %}
    {% endfor %}
</div>