{% if should_edit %}
    <table>
{% else %}
    <table width="100%">
{% endif %}
{% for work in tbl %}
    <tr>
        <td>
            {% if work.display_number_in_publication %}
                {{ work.display_number_in_publication }}
            {% else %}
                {{ work.number_in_publication }}
            {% endif %}
        </td>
        <td>
            {% if work.work.title %}{{ work.work.get_title }} {% if work.work.sub_title %}<br/>
                <i>-{{ work.work.sub_title }}</i>{% endif %}{% else %} <i>No Title</i> {% endif %}
        </td>
        <td>
            {% for author in work.work.get_own_authors %}{% include 'creator_single_line_description.html' %}
                {% if not forloop.last %}<br/>{% endif %}{% empty %}<i>No Extra Authors</i>{% endfor %}
        </td>
        {% if should_edit %}
            <td>
                <a href="{% url 'work.subwork.edit' work.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'work.subwork.delete' work.pk %}" class="btn btn-primary">Delete</a>
            </td>
        {% endif %}
    </tr>
{% endfor %}
</table>