{% extends "base.html" %}
{% block title %}{{ object.get_title }}{% endblock %}
{% block content %}

    <table class="table table-striped" style="width: auto;">
        <tr>
            <th>Title</th>
            <td>{{ object.get_title }}</td>
        </tr>
        <tr>
            <th>Sub-title</th>
            <td>{{ object.sub_title }}</td>
        </tr>
        <tr>
            <th>Authors</th>
            <td>{% for author in object.get_authors %}{% include 'creator_single_line_description.html' %}{% if not forloop.last %}, {% endif %} {% endfor %}</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ object.comment }}</td>
        </tr>
    </table>
    <a href="{% url 'works.publication.edit' object.pk %}">Edit</a>



    <h4>Items for this publication</h4>
    <table class="table table-striped" style="width: auto;">
        <tr>
            <th>Book code</th>
            <th>ISBN</th>
            <th>pages</th>
            <th>year</th>
            <th>Status</th>
            {% if perms.auth.add_item_state %}
                <th>Settings</th>
            {% endif %}
            {% if perms.works.change_item %}
                <th>Edit</th>
            {% endif %}
            <th>Lend</th>
        </tr>
        {% for item in object.get_items %}

            <tr>
                {% with recode=item.get_recode %}
                    <td>{{ item.display_code }}{% if recode %} [Needs recode to {{ recode.book_code }}]{% endif %}</td>
                    <td>{{ item.get_isbn10 }} {{ item.get_isbn13 }}</td>
                    <td>{{ item.get_pages }}</td>
                    <td>{{ item.year }}</td>
                    <td>{% if item.is_available %}{{ item.get_state.type }}

                    {% else %}
                        {% if perms.members.view_member %}
                            {% with member=item.current_lending.member %}
                                <a href="{% url 'members.view' member.pk %}">LENT</a> {% endwith %}
                        {% else %}
                            LENT
                        {% endif %}
                        {% if item.get_state.type != 'AVAILABLE' %}[ {{ item.get_state.type }} {% endif %}{% endif %}</td>
                    {% if perms.auth.add_item_state %}
                        <td><a href="{% url 'works.item_state.create' item.pk %}" class="btn btn-primary btn-sm">Change
                            state</a>
                        </td>
                    {% endif %}
                    <td>
                        {% if perms.works.change_item %}
                            <a href="{% url 'works.item.edit' item.pk %}" class="btn btn-primary btn-sm">Edit</a>
                        {% endif %}
                        {% if perms.recode.change_recode and recode%}
                            <a href="{% url 'recode.end' recode.pk %}?next={{ request.path }}" class="btn btn-primary btn-sm">Finish Recode</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if perms.lendings.add_lending %}
                            <a href="{% url 'lendings.new.work' item.pk %}" class="btn btn-primary btn-sm" role="button">Lend</a>
                        {% else %}
                            Available
                        {% endif %}
                    </td>
                {% endwith %}

            </tr>
        {% endfor %}
    </table>


    <h4>Part of series</h4>
    <table class="table table-striped" style="width: auto;">

        {% for series in  object.workinseries_set.all %}
            {% include 'part_of_series_name.html' %}
        {% endfor %}
    </table>
    <a href="{% url 'works.item.new' publication.pk %}" class="btn btn-primary">add new item</a>
{% endblock %}
