<form action="/works/search" method="get">
    <label for="Query">Query: </label>
    <table>
        <tr>
            <td><label for="q">Any Field</label></td>
            <td><input id="q" type="text" name="q" value="{{ request.GET.q }}"></td>
        </tr>
        <tr>
            <td><label for="q_title">Title Field</label></td>
            <td><input id="q_title" type="text" name="q_title" value="{{ request.GET.q_title }}"></td>
        </tr>
        <tr>
            <td><label for="q_author">Author Field</label></td>
            <td><input id="q_author" type="text" name="q_author" value="{{ request.GET.q_author }}"></td>
        </tr>
        <tr>
            <td><label for="q_series">Series Field</label></td>
            <td><input id="q_series" type="text" name="q_series" value="{{ request.GET.q_series }}"></td>
        </tr>
            <tr>
            <td><label for="q_bookcode">Code Field</label></td>
            <td><input id="q_bookcode" type="text" name="q_bookcode" value="{{ request.GET.q_bookcode }}"></td>
        </tr>
        </tr>
        <tr>
            <td>
                <label for="q_states">States Field</label>
            </td>
            <td>
                <select name="q_states" id="q_states" class="multiselect" multiple="multiple">
                    {% for state in states %}
                        {% if state.0 != "AVAILABLE" %}
                            <option value="{{ state.0 }}"
                                    {% if state.0 in selected_states %}SELECTED {% endif %}>{{ state.1 }}</option>
                        {% endif %}

                    {% endfor %}
                </select>

            </td>
        </tr>
        <tr>
            <td>
                <label for="q_categories">Categories Field</label>
            </td>
            <td>
                <select name="q_categories" id="q_categories" class="multiselect" multiple="multiple">
                    {% for cat in categories %}

                        <option value="{{ cat.pk }}"
                                {% if cat.pk in selected_categories %}SELECTED {% endif %}>{{ cat.name }}</option>

                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>

    <input type="hidden" name="advanced" value="True">
    <input type="submit" value="Search">
</form>