{% extends "base.html" %}
{#{% load books_table %}#}
{% block title %}Recode List{% endblock %}
{% block ux_framework %}
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

    {% include 'pagination.html' %}
    {% load locations %}
    {{ request.GET.location }}
    {% get_locations request.GET.location %}
    <hr>
    <table class="tw-table-auto tw-border-separate">
        <tr>
            <th>Old Code</th>
            <th>New Code</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Status</th>
            <th>Edit</th>
        </tr>
        {% for recode in object_list %}

            {% with item=recode.item %}
                <tr>
                    <td>{{ item.display_code }}</td>
                    <td>{% if recode %}{{ recode.book_code }} {% if  recode.book_code_extension  %}[{{ recode.book_code_extension }}]{% endif %}{% endif %}</td>
                    <td>{{ item.get_isbn10 }};{{ item.get_isbn13 }}</td>

                    <td><a href="{% url 'work.view' item.publication.pk %}">{{ item.get_title }}</a></td>
                    <td>{% if item.is_available %}{{ item.get_state.type }}
                    {% else %}
                        {% if item.get_state.type != 'AVAILABLE' %}<p data-toggle="tooltip" data-placement="top"
                                                                      title="{{ item.get_state.reason }}">{{ item.get_state.get_type_display }}</p>

                        {% else %}
                            AVAILABLE
                        {% endif %}
                    {% endif %}
                        {% if item.is_lent_out %}[LENT]
                        {% endif %}</td>
                    {% if perms.recode.change_recode %}
                        <td><a href="{% url 'recode.end' recode.pk %}" class="tw-btn tw-btn-primary tw-btn-sm">Finish
                            Recode</a>
                        </td>
                    {% endif %}

                </tr>
            {% endwith %}
        {% endfor %}
    </table>
{% endblock %}