{% extends "base_bootstrap.html" %}
{#{% load books_table %}#}
{% block title %}Recode List{% endblock %}
{% block content %}

    {% include 'pagination.html' %}
    {% load locations %}
    {{ request.GET.location }}
    {% get_locations request.GET.location %}
    <hr>
    <table>
        <tr>
            <th>Old Code</th>
            <th>New Code</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Status</th>
            <th>Edit</th>
        </tr>
        {% for recode in object_list %}

            {% with item=recode.item %}
                <tr>
                    <td>{{ item.display_code }}</td>
                    <td>{% if recode %}{{ recode.book_code }} : {{ recode.book_code_extension }}{% endif %}</td>
                    <td>{{ item.get_isbn10 }};{{ item.get_isbn13 }}</td>

                    <td><a href="{% url 'work.view' item.publication.pk %}">{{ item.get_title }}</a></td>
                    <td>{% if item.is_available %}{{ item.get_state.type }}
                    {% else %}
                        {% if item.get_state.type != 'AVAILABLE' %}<p data-toggle="tooltip" data-placement="top"
                                                                      title="{{ item.get_state.reason }}">{{ item.get_state.get_type_display }}</p>

                        {% else %}
                            AVAILABLE
                        {% endif %}
                    {% endif %}
                        {% if item.is_lent_out %}[LENT]
                        {% endif %}</td>
                    {% if perms.recode.change_recode %}
                        <td><a hx-get="{% url 'recode.finish' recode.pk %}" hx-target="#dialog"
                               href="{% url 'recode.finish' recode.pk %}" class="btn btn-primary btn-sm">Finish Recode</a>
                        </td>
                    {% endif %}

                </tr>
            {% endwith %}
        {% endfor %}
    </table>
{% endblock %}