{% extends hx_enabled|yesno:"hx_modal.html,base.html" %}

{% block content %}
    {% component 'modalform.ModalForm' title="Confirm Recoding "|add:recode.item.get_title path=request.path %}
        {% fill "modal_body" %}

            From {{ recode.item.book_code }} {% if recode.item.book_code_extension %}[
            {{ recode.item.book_code_extension }}]{% endif %}

            to {{ recode.book_code }} {% if recode.book_code_extension %}[{{ recode.book_code_extension }}]{% endif %}
        {% endfill %}
        {% fill "modal_submit_button" %}
            <button class="btn btn-success join-item" type="submit">Save</button>
        {% endfill %}
    {% endcomponent %}
{% endblock %}
