{% extends 'hx_modal_form.html' %}

{% block modal_title %}Confirm Recode {% if recode.item.get_title %} of {{ recode.item.get_title }}{% endif %}{% endblock %}
{% block modal_content %}

    From {{ recode.item.book_code }} {% if recode.item.book_code_extension %}[{{ recode.item.book_code_extension }}]{% endif %}

    to {{ recode.book_code }} {% if recode.book_code_extension %}[{{ recode.book_code_extension }}]{% endif %}
{% endblock %}

{% block modal_footer %}

    <input class="btn btn-success" type="submit" value="Save">
{% endblock %}