 md:flex-none
md:basis-1/12-gap-3
md:basis-2/12-gap-3
md:basis-3/12-gap-3
md:basis-4/12-gap-3
md:basis-5/12-gap-3
md:basis-6/12-gap-3
md:basis-7/12-gap-3
md:basis-8/12-gap-3
md:basis-9/12-gap-3
md:basis-10/12-gap-3
md:basis-11/12-gap-3
md:basis-12/12-gap-3

lg:basis-1/12-gap-3
lg:basis-2/12-gap-3
lg:basis-3/12-gap-3
lg:basis-4/12-gap-3
lg:basis-5/12-gap-3
lg:basis-6/12-gap-3
lg:basis-7/12-gap-3
lg:basis-8/12-gap-3
lg:basis-9/12-gap-3
lg:basis-10/12-gap-3
lg:basis-11/12-gap-3
lg:basis-12/12-gap-3
 w-full
 aspect-video

 basis-12/12
 text-xl
 text-2xl
