/*import tailwindcss and disable automatic source detection*/
@import "tailwindcss" source(none);
/*@import "tailwindcss/typography";*/
@theme {
  --color-belleyellow: #FFE430;
  --color-bellered:#7D0000;
  --breakpoint-3xl: 120rem;
}

@plugin "daisyui" {
    themes: light --default,fantasy;

}

@plugin "daisyui/theme" {
  name: "fantasy";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(27.807% 0.029 256.847);
  --color-primary: #FFE430; /* oklch(37.45% 0.189 325.02); */
  --color-primary-content: #7D0000 ;/* oklch(87.49% 0.037 325.02); */
  --color-secondary: oklch(60.2% 0.17 255.585);
  --color-secondary-content: oklch(90.784% 0.032 241.36);
  --color-accent: oklch(93.2% 0.032 255.585);
  --color-accent-content: #04557D;
  --color-neutral: oklch(27.807% 0.029 256.847);
  --color-neutral-content: oklch(85.561% 0.005 256.847);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "bellekia";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(27.807% 0.029 256.847);
  --color-primary: #FFE430; /* oklch(37.45% 0.189 325.02); */
  --color-primary-content: #7D0000 ;/* oklch(87.49% 0.037 325.02); */
  --color-secondary: oklch(60.2% 0.17 255.585);
  --color-secondary-content: oklch(90.784% 0.032 241.36);
  --color-accent: oklch(93.2% 0.032 255.585);
  --color-accent-content: #04557D;
  --color-neutral: oklch(27.807% 0.029 256.847);
  --color-neutral-content: oklch(85.561% 0.005 256.847);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "@tailwindcss/typography";
/*register frontend directory*/
@source "../../**/*.html";

body {
	background: #f0f0f0;
	font: normal normal 13px/1.4 Segoe, "Segoe UI", Calibri, Helmet, FreeSans, Sans-Serif;
}

.series_tree ul {
	padding: 0;
	list-style: none;
	color: #369;
	position: relative;
}

.series_tree:before, .series_tree ul:before {
	content: "";
	display: block;
	width: 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	border-left: 1px solid;
	background: #f0f0f0;
}

.series_tree li {
	font-weight: bold;
	line-height: 1.2em;
	margin: 0;
	padding: 0.8em 0 0 .5em;
	position: relative;
}

.series_tree li:before {
	border-top: 1px solid;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	margin-top: 1em;
	position: absolute;
	top: 0.3em;
	width: .5em;
}

.series_tree li:last-child:before {
	background: var(--color-base-100);
	bottom: 0;
	height: auto;
	top: 0.3em;
}

.series_tree > li:before {
	border-top: none !important;
}

.series_tree li div {
	border-radius: 5px;
	border: 1px solid #afafaf;
	margin: 0;
	max-width: 30em;
	min-width: 15em;
	padding: 0.1em 0.2em;
	background: #f0f0f0;
	box-shadow: 1px 1px 4px #8F949A;
	color: #369;
	font-weight: bold;
}

ul.series_tree {
	margin-left: 0px;
}

ul.series_tree:before {
	border-left: none;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	width: 100%;
}