name: Deploy production

# We deploy production only when a manual `Github Actions` workflow is triggered.
on:
  workflow_dispatch:


jobs:
  deployment:
    runs-on: ubuntu-latest
    # We fetch the secrets from the 'Deploy' environment. 
    environment: Deploy
    steps:
    - name: Deploy
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.KEY }}
        port: 22
        # We run a backup first
        # then we update our sources from git
        # Then we reset the source folder to the commit from which the pipeline was run
        # Then we restart the site. Observe that we do *not* throw away the volume here, 
        #     unlike with the staging environment.
        script:  |
          cd /services/prod
          ./backup.sh
          cd ./src
          git fetch
          git reset --hard ${{ github.sha }}
          cd ..
          echo "VERSION='${{ github.event.release.name }}'" > "version.env"
          docker-compose down
          docker-compose up -d --build
